<div class="section half-page" style="padding: 0 !important;">
	<div class="pricing-background bg-dark" id="introduction">
		<div class="vertical-parent">
			<div class="vertical-child">
				<div class="color-overlay">
					<div class="container">

						<h1 class="pricing-heading pricing-heading-2">
							<span class="font-numbers" id="el">572,682</span> Lines of Code
							<div class="font-light how-small-pricing white">Written by our students</div>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section" style="padding: 0 !important;">
	<div class="vertical-parent">
		<div class="vertical-child">
			<div class="container">
				<div class="section-icon mt-80 color-primary">
					<span class="icon-question"></span>
				</div>
				<h3 class="title-small">
					Questions <span class="serif">&amp;</span> Answers
				</h3>
				<div class="line-section mt-20 mb-40"></div>
				<div class="clearfix"></div>

				<div class="col-sm-6 faq-padding-right">
					<div class="faq-group">
						<h3 class="faq-title landing-title uppercase">
							Do courses have a strict schedule?
						</h3>
						<p class="faq-text font-secondary">
							Our courses are self-paced meaning that you choose when you want to learn. Stuk.io tutorials are always available online so you can view them using your desktop, laptop, tablet or smartphone as long as you have Internet connection.
						</p>
					</div>
					<hr class="faq-line">
					<div class="faq-group">
						<h3 class="faq-title landing-title uppercase">
							Do I need to know programming basics before enrolling?
						</h3>
						<p class="faq-text font-secondary">
							You don't need to know anything about programming before enrolling at Stuk.io. We will teach you step-by-step how to build web apps and during the process teach you all the concepts and basics.
						</p>
					</div>
					<hr class="faq-line">
					<div class="faq-group">
						<h3 class="faq-title landing-title uppercase">
							What programming languages do you teach at Stuk.io?
						</h3>
						<p class="faq-text font-secondary">
							We teach Ruby on Rails which is a programming framework allowing you to build things really fast and robust (e.g. Twitter, Airbnb or Github are built using Ruby on Rails). However we also cover other web technologies during our courses so you will also learn some HTML, CSS, Bootstrap concepts and techniques along the way.
						</p>
					</div>
					<hr class="faq-line">
					<div class="faq-group">
						<h3 class="faq-title landing-title uppercase">
							Can I upgrade or downgrade my billing plan whenever I want?
						</h3>
						<p class="faq-text font-secondary">
							Yes, you can change your plan whenever you want and changes will reflect immediately on the next recurring payment date when you downgrade and immediately when you upgrade. :)
						</p>
					</div>
					<hr class="faq-line hidden-lg hidden-md line-hidden-ipad">
				</div>
				<div class="col-sm-6 faq-padding-left">
					<div class="faq-group">
						<h3 class="faq-title landing-title uppercase">
							Do I get a certificate whenever I complete a course?
						</h3>
						<p class="faq-text font-secondary">
							Yes, you'll get a nice certificate so you can show it off on your resume or Linkedin profile.
						</p>
					</div>
					<hr class="faq-line">
					<div class="faq-group">
						<h3 class="faq-title landing-title uppercase">
							I have an idea for a web application. Can Stuk help me build it?
						</h3>
						<p class="faq-text font-secondary">
							Absolutely! Check out our courses/apps and see if combining some of their features together with our Codecasts you could build your dream web application. If some features are missing just request a Codecast or talk with us and we can put it on our roadmap.
						</p>
					</div>
					<hr class="faq-line">
					<div class="faq-group">
						<h3 class="faq-title landing-title uppercase">
							On average, how long does it take me to develop each web application?
						</h3>
						<p class="faq-text font-secondary">
							On average each course takes 1 month to complete if you dedicate 1 hour everyday to go about our content and do it yourself understanding all the bits and pieces.
						</p>
					</div>
					<hr class="faq-line">
					<div class="faq-group">
						<h3 class="faq-title landing-title uppercase">
							What happens if I get stuck?
						</h3>
						<p class="faq-text font-secondary">
							Don't panic! :) If you subscribed to the Starter plan you can check our Help Center and our Community forum and you'll find the answers you need. However if you're having some really tough issues you can also subscribe to Stuk.io's Developer plan and gain access to a 1-on-1 direct line with experienced developers that will help you out.
						</p>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="mb-80"></div>
			</div>
		</div>
	</div>
</div>


<div class="section" style="padding: 0 !important;">
	<div class="vertical-parent">
		<div class="vertical-child">
			<div class="container">

				<div class="section-icon  mt-80 color-primary">
					<span class="icon-users"></span>
				</div>
				<h3 class="title-small">
					Student Feedback<span class="text-point">.</span>
				</h3>
				<div class="line-section mt-20 mb-40"></div>
				<div class="clearfix"></div>

				<div class="col-sm-6 faq-padding-right">
					<div class="faq-group">
						<p class="faq-text font-secondary">
							<i class="fa fa-quote-right gray icon-testi"></i> I have utmost faith in the team of Tutors at Stuk who guide and mentor me remotely, constantly and continuously. I highly recommend Stuk to newbies who want to develop awesome web applications.
						</p>
						<h3 class="faq-title landing-title uppercase">
							Shyaam<span class="font-light">, India</span>
						</h3>
					</div>
					<hr class="faq-line">
					<div class="faq-group">
						<p class="faq-text font-secondary">
							<i class="fa fa-quote-right gray icon-testi"> </i> I love Stuk.io! It's funny how you're selling this at such a low price when you should be charging at least $250 for every course.
						</p>
						<h3 class="faq-title landing-title uppercase">
							Faisal<span class="font-light">, US</span>
						</h3>
					</div>
					<hr class="faq-line">
					<div class="faq-group">
						<p class="faq-text font-secondary">
							<i class="fa fa-quote-right gray icon-testi"> </i> I have been through many online courses on Ruby on Rails and it was frustrating encountering outdated gems and tutors not committed to help students. I love stukio because it's the latest course and offers insane commitment.
						</p>
						<h3 class="faq-title landing-title uppercase">
							Lily<span class="font-light">, Malaysia</span>
						</h3>
					</div>
					<hr class="faq-line hidden-lg hidden-md line-hidden-ipad">
				</div>
				<div class="col-sm-6 faq-padding-left">
					<div class="faq-group">
						<p class="faq-text font-secondary">
							<i class="fa fa-quote-right gray icon-testi"></i> After wasting a lot of time with other courses I landed at Stuk.io. Now I feel confident that I am actually learning and having fun at the same time. BTW their support is excellent.
						</p>
						<h3 class="faq-title landing-title uppercase">
							Savvas<span class="font-light">, Cyprus</span>
						</h3>
					</div>
					<hr class="faq-line">
					<div class="faq-group">
						<p class="faq-text font-secondary">
							<i class="fa fa-quote-right gray icon-testi"> </i> Learning ruby on rails programming at @stuk_io and I can say, they are absolutely breathtaking. They use D-I-Y approach and its amazing.
						</p>
						<h3 class="faq-title landing-title uppercase">
							Osazeme<span class="font-light">, Nigeria</span>
						</h3>
					</div>
					<hr class="faq-line">
					<div class="faq-group">
						<p class="faq-text font-secondary">
							<i class="fa fa-quote-right gray icon-testi"> </i>  I'm learning from this course so I can try and find work in the future I live in Scotland. This course is better than any other course I looked at.
						</p>
						<h3 class="faq-title landing-title uppercase">
							Jeff<span class="font-light">, Scotland</span>
						</h3>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="mb-80"></div>
			</div>
		</div>
	</div>
</div>
