
<div id="login" class="modal fade" ng-controller="authController" tabindex="-1" role="dialog" ng-controller="loginController">
	<div class="modal-dialog modal-sm">
		<div class="row modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"><span class="fa fa-close"><span></button>
				<h4 class="modal-title center">Login to your Account</h4>
			</div>
			<div class="modal-body">
				<div class="social-buttons override-col-margin col-md-12" style="margin-bottom: 10px;padding: 0px;">
					<div class="col-md-6 override-col-margin">
						<a style="width: 100%" href="/api/users/facebook"
							class="btn btn-primary facebook btn-fb"><i
							class="fa fa-facebook "></i> Facebook</a>
					</div>

					<div class="col-md-6 override-col-margin">
						<a style="width: 100%" href="/api/users/google"
							class="btn btn-primary google btn-tw"><i
							class="fa fa-google-plus "></i> Google</a>
					</div>
				</div>
				<div class="col-md-12 override-col-margin row">
				<form class="form" class="row col-md-12" role="form" novalidate name="loginform"
					ng-class="{ 'submitted' : loginsubmitted === true}"
					ng-submit="login(loginform)" accept-charset="UTF-8" id="login-nav">


					<div class="form-group">
						<input type="email" required ng-model="userData.email"
							class="form-control" name="email" id="email"
							placeholder="Email address">

							<span class="form-highlight"></span> <span
							class="form-bar"></span> <label class="float-label"
							for="exampleInputEmail1">Enter your email</label>

							 <span
							class=" label label-danger"
							data-ng-show="loginsubmitted  && loginform.email.$error.required">Please enter Email !</span>
							<span
							class=" label label-danger"
							data-ng-show="loginsubmitted  && loginform.email.$error.email">Please
							enter valid Email !</span>

					</div>
					<div class="form-group mb-30">
						<input type="password" required ng-model="userData.password"
							class="form-control" name="password" id="password"
							placeholder="Password">

						<span class="form-highlight"></span> <span class="form-bar"></span>
						<label class="float-label" for="exampleInputEmail1">Enter
							your password</label>

							<span
							class=" label label-danger"
							data-ng-show="loginsubmitted  && loginform.password.$error.required">Please enter password!!</span>

					</div>

					<div class="row"
						<div class="col-sm-12 col-md-12">
							<div class="forgot-password-wrapper">
								<a data-toggle="modal" href="" data-dismiss="modal"
									data-target="#resetpassword">Forgot your password?</a>
							</div>
					</div>
					<button name="button" type="submit"
						class="btn btn-primary btn-sm btn-block"
						data-disable-with="<span class='fa fa-spinner fa-spin'></span> Signing in...">Sign
						In</button>
					<div class="signup text-center mt-15">
						<span>Don't have an account?</span> <a data-dismiss="modal"
							data-toggle="modal" href="" data-target="#register">Sign up</a>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>



<div id="resetpassword" ng-controller="authController" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content row">
			<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h4 class="modal-title center">Reset your password</h4>


				<div class="social-buttons override-col-margin col-md-12" style="margin-bottom: 10px;">
					<div class="col-md-6 override-col-margin">
						<a style="width: 100%" href="/api/users/facebook"
							class="btn btn-primary facebook btn-fb"><i
							class="fa fa-facebook "></i> Facebook</a>
					</div>

					<div class="col-md-6 override-col-margin">
						<a style="width: 100%" href="/api/users/google"
							class="btn btn-primary google btn-tw"><i
							class="fa fa-google-plus "></i> Google</a>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="sign-box-cont">
				<div class="col-md-12 override-col-margin row">
					<form class="new_user" id="new_user" action="/en/users"
						accept-charset="UTF-8" method="post">


						<div class="form-group">
							<input class="form-control" required="required" type="email"
								value="" name="user[email]" id="user_email"> <span
								class="form-highlight"></span> <span class="form-bar"></span> <label
								class="float-label" for="exampleInputEmail1">Enter your
								email</label>
						</div>

						<button name="button" type="submit"
							class="btn btn-primary btn-sm btn-block"
							data-disable-with="<span class='fa fa-spinner fa-spin'></span> Signing up...">Reset
							password</button>
						<div class="signup text-center mt-15">
							<span>Already have an account?</span> <a data-toggle="modal"
								href="" data-dismiss="modal" data-target="#login">Sign in</a>
						</div>
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="register" ng-controller="authController" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content row">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h4 class="modal-title center">Login to your Account</h4>

			</div>
			<div class="modal-body">
				<div class="social-buttons col-md-12 override-col-margin" style="margin-bottom: 10px;">
					<div class="col-md-6 override-col-margin">
						<a style="width: 100%" href="/api/users/facebook"
							class="btn btn-primary facebook btn-fb"><i
							class="fa fa-facebook "></i> Facebook</a>
					</div>

					<div class="col-md-6 override-col-margin">
						<a style="width: 100%" href="/api/users/google"
							class="btn btn-primary google btn-tw"><i
							class="fa fa-google-plus "></i> Google</a>
					</div>
				</div>
<div class="col-md-12 override-col-margin row">
				<form class="form" novalidate role="form" name="registerform"
						ng-submit="register(registerform)"
						ng-class="{ 'submitted' : registersubmitted === true}"
						accept-charset="UTF-8" id="login-nav">

					<div class="form-group">
						<input
							type="text" ng-model="userData.firstname" class="form-control"
							id="firstname" name="firstname" placeholder="First Name" required>

							<label class="float-label" for="exampleInputEmail1">Enter
							your name</label>

							 <span
							class=" label label-danger"
							data-ng-show="registersubmitted  && registerform.firstname.$error.required">Please
							enter Name !</span>


					</div>
					<div class="form-group">
						<input
							type="text" ng-model="userData.lastname" class="form-control"
							id="lastname" name="lastname" placeholder="Last Name" required>

							<label class="float-label" for="exampleInputEmail1">Enter
							Last name</label>

							 <span
							class=" label label-danger"
							data-ng-show="registersubmitted  && registerform.lastname.$error.required">Please
							enter Name !</span>
					</div>
					<div class="form-group">
						<input
							type="text" ng-model="userData.password" class="form-control"
							id="password" name="password" placeholder="password" required>

							<label class="float-label" for="exampleInputEmail1">Enter
							password</label>

							 <span
							class=" label label-danger"
							data-ng-show="registersubmitted  && registerform.password.$error.required">Please
							enter Name !</span>

					</div>
					<div class="form-group mb-30">
						<input
							type="text" ng-model="userData.password1" class="form-control"
							id="password1" name="password1" placeholder="password" required>

							<label class="float-label" for="exampleInputEmail1">Retype
							password</label>

							 <span
							class=" label label-danger"
							data-ng-show="registersubmitted  && registerform.password1.$error.required">Please
							enter Name !</span>
					</div>
					<button name="button" type="submit"
						class="btn btn-primary btn-sm btn-block"
						data-disable-with="<span class='fa fa-spinner fa-spin'></span> Signing up...">Sign
						up</button>
					<div class="signup text-center mt-15">
						<span>Already have an account?</span> <a id="go-to-login"
							data-toggle="modal" href="" data-dismiss="modal"
							data-target="#login">Sign in</a>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>

