
    <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ">
         

         <div class="row">
            <div class="col-sm-4 col-md-3 item">
              <h4 class="title">Site Map</h4>
              <ul>
                <li><a href="">Home</a></li>
                <li><a href="">contact</a></li>
                <li><a href="">Technologies</a> </li>
                <li><a href="">Learnings</a></li>
                <li><a href="#/all">Enterprise Training</a></li>
              </ul>
            </div>

            <div class="col-sm-4 col-md-3 item">
              <h4 class="title">Technologies</h4>
              <ul>
                <li><a href="/technologies">All</a></li>
                
                  <li><a href="">AngularJS</a></li>
                  <li><a href="">Git</a></li>
                  <li><a href="">javascript </a></li>
                  <li><a href="">Grunt</a></li>
                  <li><a href="">JavaScript</a></li>
                  <li><a href="">Node.js</a></li>
                  <li><a href="">Java</a></li>
                  <li><a href="">Hadoop Big data</a></li>
                  <li><a href="">Android Development</a></li>
                
                
              </ul>
            </div>

            <div class="col-sm-4 col-md-5 item">
              <h4 class="title">Learning series</h4>
              <ul>
                <li><a href="">All</a></li>
                  <li><a href="">AngularJS Authentication </a></li>
                  <li><a href="">Learn Protractor Testing for AngularJS</a></li>
                  <li><a href="">Learn HTML5 Graphics and Animation</a></li>
                  <li><a href="">React Fundamentals</a></li>
                  <li><a href="">Node fundamentals</a></li>
                  <li><a href="">AngularJS Data Modeling</a></li>
                  
              </ul>
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- footer-part-left -->

        <div class="col-md-4 ">
          <h4 class="title">Search Lessons</h4>

          <div class="search-field-holder collapsed">
            <form id="search-form-footer" autocomplete="off">
              <input type="text" id="st-search-input-footer" class="form-control input-search" autocomplete="off">
              <button type="submit" class="btn-submit icon-search"></button>
            </form>
           
          </div>
          <!-- search-field-holder -->

     
          <!-- terms-conditions-holder -->

          <div class="social-holder">
            <a href="https://twitter.com/tkssharma" class="icon-twitter"></a>
            <a href="https://www.facebook.com/tarun.sharma.msp.engg" class="icon-facebook"></a>
            <a href="" rel="publisher" class="icon-google-plus"></a>
          </div>
          <!-- social-holder -->
        </div>
        <!-- footer-part-right -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </footer>