
		<header class="navbar site-nav navbar-fixed-top navbar-static-top navbar-transparent" role="navigation" style="
    background-color: rgb(64, 78, 78);
">
			<div class="container">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
	<a class="logo navbar-brand" href="/" id="header-logo">
		<img class="udacity-u hidden-xs udacity-u-slide-in" alt="Udacity U" title="Udacity U" src="images/logo.png" id="udacity-u">

	</a>

				</div>

				<nav class="navbar-collapse text-center-xs collapse" id="navbar-collapse" role="navigation" style="height: 1px;">

						<!-- Logged out dropdowns -->
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a id="sign-in" href="" onclick="window.location.href='/account/auth#!/signin?next='+encodeURIComponent(window.location.href)">Sign In</a>
							</li>
							<li>
								<a href="" onclick="window.location.href='/account/auth#!/signup?next='+encodeURIComponent(window.location.href)">Sign Up</a>
							</li>
						</ul>

							<ul class="nav navbar-nav navbar-right">
									<li>
										<a id="catalog" class="dropdown-toggle" href="/courses/all">Catalog</a>
									</li>
							</ul>

							<ul class="nav navbar-nav navbar-right">
								<li>
									<a href="/nanodegree">Nanodegree</a>
								</li>
							</ul>



				</nav>
			</div>
		</header>






