
<header
	class="navbar site-nav navbar-static-top navbar-transparent"
	role="navigation" style="background-color: #273b47;">
	<div class="container">
		<div class="navbar-header">

			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="logo navbar-brand" href="#/" id="header-logo"> <img
				class="gennext-u  hidden-sm hidden-xs gennext-u-slide-in"
				alt="gennext U" title="gennext U" src="images/logo.png"
				id="gennext-u"> <img
				class="gennext-u hidden-lg hidden-md  gennext-u-slide-in-sm"
				alt="gennext U" title="gennext U" src="images/logo.png"
				id="gennext-u">
			</a>

		</div>

		<nav class="navbar-collapse text-center-xs collapse"
			id="navbar-collapse" role="navigation" style="height: 1px;">

			<ul class="nav navbar-nav navbar-right">

				<li ng-if="! isLoggedIn === true" ><a data-toggle="modal" href="" data-target="#login" >Sign
						In</a></li>

				<li  ng-if="isLoggedIn === true"
					class="dropdown open visible-lg visible-md visible-sm"><a
					href="#" data-toggle="dropdown" class="no-border dropdown-toggle"><div
							alt="User Thumbnail" class="userNavPic img-circle pull-left"
							style="background-image: url('https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/11012492_1046109752085971_4790600339148025262_n.jpg?oh=8586318f86ab46271837e5b965a7509d&oe=571F5EA6&__gda__=1457932208_79d5fbc5e3e57fa34e621cd8aabaec5d'); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;"></div>
						<span id="layoutUsername" class="name-position ng-binding">&nbsp;&nbsp;{{currentUserName}}&nbsp;</span><i
						class="fa fa-caret-down caret-position"></i></a>

						<div id="userMenuPopup" class="popover bottom dropdown-menu user-menu" data-original-title="" title="">
						<div class="popover-inner col-md-12 ">
							<div class="col-md-12 col-sm-12 override-col-margin" >
								<ul style="padding-left: 0px">
									<li><a href="#/myaccount/myaccounttabs/password" class="no-border"><i class="fa fa-user medium-indent"></i> Edit Profile</a></li>
									<li><a href="#/myaccount/myaccounttabs/password"class="no-border"><i class="fa fa-cogs medium-indent"></i> Account</a></li>
									<li><a href="#/signout" class="no-border"><i class="fa fa-sign-out medium-indent"></i> Log Out</a></li>
										<li><a href="#/myaccount/myaccounttabs/password" class="no-border"><i class="fa fa-question-circle medium-indent"></i> FAQs</a></li>

										<li><a href="mailto:help@alakarte.com" class="no-border"><i class="fa fa-envelope-o medium-indent"></i> Contact Us</a></li>
								</ul>
							</div>

						</div>
					</div>

				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a id="catalog" class="dropdown-toggle" href="#/courses/all">Courses</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/codecast">Codecasts</a></li>
			</ul>



		</nav>
	</div>
</header>






