
<header
	class="navbar site-nav navbar-fixed-top navbar-static-top navbar-transparent"
	role="navigation" style="background-color: #273b47;">
	<div class="container">
		<div class="navbar-header">

			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="logo navbar-brand" href="#/" id="header-logo"> <img
				class="gennext-u  hidden-sm hidden-xs gennext-u-slide-in"
				alt="gennext U" title="gennext U" src="images/logo.png"
				id="gennext-u"> <img
				class="gennext-u hidden-lg hidden-md  gennext-u-slide-in-sm"
				alt="gennext U" title="gennext U" src="images/logo.png"
				id="gennext-u">
			</a>

		</div>

		<nav class="navbar-collapse text-center-xs collapse"
			id="navbar-collapse" role="navigation" style="height: 1px;">

			<ul class="nav navbar-nav navbar-right">

				<li><a data-toggle="modal" href="" data-target="#login" >Sign
						In</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a id="catalog" class="dropdown-toggle" href="#/courses/all">Courses</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/Codecasts">Codecasts</a></li>
			</ul>



		</nav>
	</div>
</header>






