



<div data-responsiveness-enabler="">
	<div class="super-header-wrapper section-inverse section-slim">
		<h1 class="h1-text">Udacity Free Online Courses</h1>
		<!-- Banner background -->
		<img src="//lh3.googleusercontent.com/M_Gd4PJmejq6KbbotGgHwz4bvWOBjDQTTmyu4wwAtcLIIHKdsToonXH7nkASTXkLbArBEro6hZu-lYiUo80=s1280#w=1800&amp;h=970" class="black-hole">
		<div class="super-header image-homepage-banner ng-scope" >
			<div class="container">
				<div class="super-header-content row">
					<div class="col-xs-12 text-inverse">
						<div class="row row-gap-huge"></div>
						<div class="row row-gap-huge"></div>
						<section class="sliding-text-wrapper">
							<div class="stationary-text-top">Become a</div>
							<div class="sliding-text">
								<div style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 0;">
									Web Developer
								</div>
								<div style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 0;">
									Data Analyst
								</div>
								<div style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
									Full Stack Developer
								</div>
								<div style="transform: matrix(1, 0, 0, 1, -100, 0); opacity: 0;">
									Mobile Developer
								</div>
							</div>
							<div class="row row-gap-medium">
							<div class="stationary-text-bottom">Earn a Nanodegree Credential</div>
							<div class="row row-gap-huge"></div>
							<a href="/nanodegree" amp-log-event="HomePageLearnMore"><span class="btn btn-primary btn-lg btn-min-width-sm">Learn more</span></a>
							<div class="row row-gap-huge"></div>
						</div></section>
					</div>
				</div>
			</div>
		</div>
	</div>




	<hr class="hr-gradient hr-slim">


	<div class="section section-standout section-slim ng-scope" >
		<div class="container">
			<div class="row row-gap-small">
				<div class="col-sm-12 text-center">
					<h2>Codefun Programs</h2>
				</div>
			</div>
			<div class="row row-gap-large ng-hide" data-ng-show="loading" style="">
				<div class="text-center">
					<img class="" src="//lh5.ggpht.com/b3OandPWsUWAnRVS5d8JS8OL0nu8dU2d3NceS7p1yKhPl9KD4EhqeylPm7yFbft5wmsA2VCAZ-8wAkmFduXJ=s0#w=90&amp;h=30" alt="loading dots">
				</div>
			</div>
		</div>
		<!-- display for laptops and desktops  -->
		<div class="container no-margin-horizontal visible-md visible-lg" data-ng-show="!loading" style="">
			<!-- ngRepeat: degree in nanodegrees --><div  class="ng-scope" style="">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd801 col-sm-6 col-md-3 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd801" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd801.svg" alt="Android Developer" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd801.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Android Developer</h3>
				<hr class="nd-block-hr">
				Become an Android Developer
			</div>
			<div class="back theme-border-color ng-binding">
				For intermediate programmers pursuing Android mastery, this program teaches the tools, principles, and patterns that underlie all Android development.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd009 col-sm-6 col-md-3 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd009" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd009.svg" alt="Machine Learning Engineer" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd009.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Machine Learning Engineer</h3>
				<hr class="nd-block-hr">
				Make Predictive Models
			</div>
			<div class="back theme-border-color ng-binding">
				Become a machine learning engineer and apply predictive models to massive data sets in fields like education, finance, healthcare or robotics.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd007 col-sm-6 col-md-3 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd007" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd007.svg" alt="Tech Entrepreneur" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd007.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Tech Entrepreneur</h3>
				<hr class="nd-block-hr">
				Build a Business Around Your App
			</div>
			<div class="back theme-border-color ng-binding">
				From ideation to marketing to monetization, this program teaches you how to transform ideas into market-ready products, and build sustainable businesses around them.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd011 col-sm-6 col-md-3 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd011" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd011.svg" alt="Mobile Game Developer" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd011.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Mobile Game Developer</h3>
				<hr class="nd-block-hr">
				Develop &amp; Monetize 2D Games with LibGDX
			</div>
			<div class="back theme-border-color ng-binding">
				Learn to build and monetize your own 2D games.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd004 col-sm-6 col-md-3 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd004" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd004.svg" alt="Full Stack Web Developer" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd004.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Full Stack Web Developer</h3>
				<hr class="nd-block-hr">
				Build Complex Web Applications
			</div>
			<div class="back theme-border-color ng-binding">
				Learn how to create server-side, data-driven web applications that support any front-end and can scale to support hundreds of thousands of users.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd003 col-sm-6 col-md-3 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd003" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd003.svg" alt="iOS Developer" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd003.svg">
				<h3 class="text-inverse nd-block-title ng-binding">iOS Developer</h3>
				<hr class="nd-block-hr">
				Program Apps for the iPhone and iPad
			</div>
			<div class="back theme-border-color ng-binding">
				Master writing in Swift as you build five portfolio-worthy iOS apps to demonstrate your expertise as an iOS Developer.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd002 col-sm-6 col-md-3 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd002" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd002.svg" alt="Data Analyst" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd002.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Data Analyst</h3>
				<hr class="nd-block-hr">
				Discover Insights from Data
			</div>
			<div class="back theme-border-color ng-binding">
				Learn to clean up messy data, uncover patterns and insights, make predictions using machine learning, and clearly communicate your findings.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd001 col-sm-6 col-md-3 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd001" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd001.svg" alt="Front-End Web Developer" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd001.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Front-End Web Developer</h3>
				<hr class="nd-block-hr">
				Create Stunning User Experiences
			</div>
			<div class="back theme-border-color ng-binding">
				Become a Front-End Web Developer by completing a variety of projects for your portfolio - become an HTML, CSS and JavaScript pro!
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd000 col-sm-6 col-md-3 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd000" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd000.svg" alt="Intro to Programming" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd000.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Intro to Programming</h3>
				<hr class="nd-block-hr">
				Learn to Code
			</div>
			<div class="back theme-border-color ng-binding">
				Welcome to the world of programming. Learn the foundational skills that all programmers use whether they program mobile apps, create web pages, or analyze data.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd010 col-sm-6 col-md-3 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd010" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd010.svg" alt="Beginning Ruby" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd010.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Beginning Ruby</h3>
				<hr class="nd-block-hr">
				Learn to Build Web Applications
			</div>
			<div class="back theme-border-color ng-binding">
				Learning Ruby—a programming language ideal for beginners—is the first step to mastering Ruby on Rails, the framework that powers sites like GitHub, Groupon, and Twitter.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd006 col-sm-6 col-md-3 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd006" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd006.svg" alt="Beginning iOS App Development" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd006.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Beginning iOS App Development</h3>
				<hr class="nd-block-hr">
				Start Your Journey in iOS Development
			</div>
			<div class="back theme-border-color ng-binding">
				For individuals with no programming experience, this program teaches core skills necessary to start developing apps for iPhone and iPad.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd802 col-sm-6 col-md-3 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd802" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd802.svg" alt="Senior Web Developer" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd802.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Senior Web Developer</h3>
				<hr class="nd-block-hr">
				Building Progressive Web Applications
			</div>
			<div class="back theme-border-color ng-binding">
				For intermediate front-end developers, this program helps you work efficiently to apply modern tools, frameworks, and techniques to write robust web applications.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees -->
		</div>
		<!-- display for phones and tablets -->
		<div class="container visible-xs visible-sm" data-ng-show="!loading" style="">
			<!-- ngRepeat: degree in nanodegrees --><div  class="ng-scope" style="">
				<nanodegree-tile-handheld nd="degree" class="ng-isolate-scope"><div class="theme-nd801">
	<div class="col-xs-12 col-sm-6 section section-standout section-slim">
		<a href="/course/nd801" class="no-underline">
			<div class="text-inverse theme-background-color nd-block-handheld ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd801.svg" alt="Nanodegree program icon" title="Nanodegree program icon" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd801.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Android Developer</h3>
				<hr class="nd-block-hr">
				Become an Android Developer
			</div>
		</a>
	</div>
</div>
</nanodegree-tile-handheld>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile-handheld nd="degree" class="ng-isolate-scope"><div class="theme-nd009">
	<div class="col-xs-12 col-sm-6 section section-standout section-slim">
		<a href="/course/nd009" class="no-underline">
			<div class="text-inverse theme-background-color nd-block-handheld ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd009.svg" alt="Nanodegree program icon" title="Nanodegree program icon" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd009.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Machine Learning Engineer</h3>
				<hr class="nd-block-hr">
				Make Predictive Models
			</div>
		</a>
	</div>
</div>
</nanodegree-tile-handheld>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile-handheld nd="degree" class="ng-isolate-scope"><div class="theme-nd007">
	<div class="col-xs-12 col-sm-6 section section-standout section-slim">
		<a href="/course/nd007" class="no-underline">
			<div class="text-inverse theme-background-color nd-block-handheld ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd007.svg" alt="Nanodegree program icon" title="Nanodegree program icon" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd007.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Tech Entrepreneur</h3>
				<hr class="nd-block-hr">
				Build a Business Around Your App
			</div>
		</a>
	</div>
</div>
</nanodegree-tile-handheld>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile-handheld nd="degree" class="ng-isolate-scope"><div class="theme-nd011">
	<div class="col-xs-12 col-sm-6 section section-standout section-slim">
		<a href="/course/nd011" class="no-underline">
			<div class="text-inverse theme-background-color nd-block-handheld ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd011.svg" alt="Nanodegree program icon" title="Nanodegree program icon" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd011.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Mobile Game Developer</h3>
				<hr class="nd-block-hr">
				Develop &amp; Monetize 2D Games with LibGDX
			</div>
		</a>
	</div>
</div>
</nanodegree-tile-handheld>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile-handheld nd="degree" class="ng-isolate-scope"><div class="theme-nd004">
	<div class="col-xs-12 col-sm-6 section section-standout section-slim">
		<a href="/course/nd004" class="no-underline">
			<div class="text-inverse theme-background-color nd-block-handheld ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd004.svg" alt="Nanodegree program icon" title="Nanodegree program icon" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd004.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Full Stack Web Developer</h3>
				<hr class="nd-block-hr">
				Build Complex Web Applications
			</div>
		</a>
	</div>
</div>
</nanodegree-tile-handheld>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile-handheld nd="degree" class="ng-isolate-scope"><div class="theme-nd003">
	<div class="col-xs-12 col-sm-6 section section-standout section-slim">
		<a href="/course/nd003" class="no-underline">
			<div class="text-inverse theme-background-color nd-block-handheld ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd003.svg" alt="Nanodegree program icon" title="Nanodegree program icon" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd003.svg">
				<h3 class="text-inverse nd-block-title ng-binding">iOS Developer</h3>
				<hr class="nd-block-hr">
				Program Apps for the iPhone and iPad
			</div>
		</a>
	</div>
</div>
</nanodegree-tile-handheld>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile-handheld nd="degree" class="ng-isolate-scope"><div class="theme-nd002">
	<div class="col-xs-12 col-sm-6 section section-standout section-slim">
		<a href="/course/nd002" class="no-underline">
			<div class="text-inverse theme-background-color nd-block-handheld ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd002.svg" alt="Nanodegree program icon" title="Nanodegree program icon" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd002.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Data Analyst</h3>
				<hr class="nd-block-hr">
				Discover Insights from Data
			</div>
		</a>
	</div>
</div>
</nanodegree-tile-handheld>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile-handheld nd="degree" class="ng-isolate-scope"><div class="theme-nd001">
	<div class="col-xs-12 col-sm-6 section section-standout section-slim">
		<a href="/course/nd001" class="no-underline">
			<div class="text-inverse theme-background-color nd-block-handheld ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd001.svg" alt="Nanodegree program icon" title="Nanodegree program icon" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd001.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Front-End Web Developer</h3>
				<hr class="nd-block-hr">
				Create Stunning User Experiences
			</div>
		</a>
	</div>
</div>
</nanodegree-tile-handheld>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile-handheld nd="degree" class="ng-isolate-scope"><div class="theme-nd000">
	<div class="col-xs-12 col-sm-6 section section-standout section-slim">
		<a href="/course/nd000" class="no-underline">
			<div class="text-inverse theme-background-color nd-block-handheld ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd000.svg" alt="Nanodegree program icon" title="Nanodegree program icon" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd000.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Intro to Programming</h3>
				<hr class="nd-block-hr">
				Learn to Code
			</div>
		</a>
	</div>
</div>
</nanodegree-tile-handheld>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile-handheld nd="degree" class="ng-isolate-scope"><div class="theme-nd010">
	<div class="col-xs-12 col-sm-6 section section-standout section-slim">
		<a href="/course/nd010" class="no-underline">
			<div class="text-inverse theme-background-color nd-block-handheld ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd010.svg" alt="Nanodegree program icon" title="Nanodegree program icon" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd010.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Beginning Ruby</h3>
				<hr class="nd-block-hr">
				Learn to Build Web Applications
			</div>
		</a>
	</div>
</div>
</nanodegree-tile-handheld>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile-handheld nd="degree" class="ng-isolate-scope"><div class="theme-nd006">
	<div class="col-xs-12 col-sm-6 section section-standout section-slim">
		<a href="/course/nd006" class="no-underline">
			<div class="text-inverse theme-background-color nd-block-handheld ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd006.svg" alt="Nanodegree program icon" title="Nanodegree program icon" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd006.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Beginning iOS App Development</h3>
				<hr class="nd-block-hr">
				Start Your Journey in iOS Development
			</div>
		</a>
	</div>
</div>
</nanodegree-tile-handheld>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile-handheld nd="degree" class="ng-isolate-scope"><div class="theme-nd802">
	<div class="col-xs-12 col-sm-6 section section-standout section-slim">
		<a href="/course/nd802" class="no-underline">
			<div class="text-inverse theme-background-color nd-block-handheld ng-binding">
				<img class="icon-huge center-block" ng-src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd802.svg" alt="Nanodegree program icon" title="Nanodegree program icon" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_block_icons/nd802.svg">
				<h3 class="text-inverse nd-block-title ng-binding">Senior Web Developer</h3>
				<hr class="nd-block-hr">
				Building Progressive Web Applications
			</div>
		</a>
	</div>
</div>
</nanodegree-tile-handheld>
			</div><!-- end ngRepeat: degree in nanodegrees -->
		</div>
		<div class="row row-gap-huge no-margin-horizontal"></div>
		<div class="row text-center no-margin-horizontal">
			<a href="//udacity.com/success"><span class="btn btn-primary btn-lg btn-min-width-sm">Student Success Stories</span></a>
		</div>
		<div class="row row-gap-huge no-margin-horizontal"></div>
	</div>

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2 class="h-slim">The Nanodegree Program Formula</h2>
					<p class="text-quote-size">
						<small>
							Master new skills through a series of online courses and projects
						</small>
					</p>
				</div>
			</div>
			<div class="row row-gap-small"></div>
			<div class="row text-center">
				<div class="col-sm-4">
					<img class="icon-huge" alt="Silicon Valley cityscape" title="Silicon Valley cityscape" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_formula_silicon_valley.svg">
					<br>
					<h3>By Silicon Valley</h3>
					<p class="text-large">
						Tech giants teach you what matters
					</p>
				</div>
				<div class="col-sm-4">
					<img class="icon-huge" alt="employee badge" title="employee badge" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_formula_job_focused.svg">
					<br>
					<h3>Career-focused</h3>
					<p class="text-large">
						Learn skills for specific job titles
					</p>
				</div>
				<div class="col-sm-4">
					<img class="icon-huge" alt="mountain with challenging pathway to top" title="mountain with challenging pathway to top" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_formula_rigourous.svg">
					<br>
					<h3>Rigorous</h3>
					<p class="text-large">
						Break a sweat solving real challenges
					</p>
				</div>
			</div>
			<div class="row row-gap-medium">
				<div class="col-xs-12 text-center">
					<p class="text-large">
						<a href="/nanodegree"><strong>How the Nanodegree program works</strong></a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section section-small section-standout-alternate">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
					<img class="icon-large" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/hp-wallet.svg">
					<br>
					<h3>
						Get half of your tuition back when you graduate
					</h3>
					<p>
						We're excited to announce a new feature of the Nanodegree program that will
						give you half of your tuition back when you graduate within 12 months of enrollment.
						<br>
						<a target="_blank" href="http://blog.udacity.com/2015/07/get-half-your-tuition-back-when-you-graduate.html">Learn more &gt;&gt;</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2 class="h-slim">Udacity for Employers</h2>
					<p class="text-quote-size">
						<small>
							Ensure your workforce masters the latest tech skills
						</small>
					</p>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-sm-6">
					<h3>Level up your team</h3>
					<div class="row">
						<div class="col-sm-4">
							<span class="sprite-partner sprite-partner-google"></span>
						</div>
						<div class="col-sm-4">
							<span class="sprite-partner sprite-partner-capital-one"></span>
						</div>
						<div class="col-sm-4">
							<span class="sprite-partner sprite-partner-att"></span>
						</div>
					</div>
					<div class="row row-gap-medium level-up-padding">
						<div class="col-xs-12">
							<p>
								Employers use Udacity to train their own employees.
							</p>
							<p class="text-large">
								<a href="/organizations"><strong>Udacity for Business</strong></a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<h3>Discover new talent</h3>
					<div class="row">
						<div class="col-xs-4 col-sm-2 col-sm-offset-2">
							<span class="sprite-grads sprite-grads-carol"></span>
						</div>
						<div class="col-xs-4 col-sm-2 col-sm-offset-1">
							<span class="sprite-grads sprite-grads-nathan"></span>
						</div>
						<div class="col-xs-4 col-sm-2 col-sm-offset-1">
							<span class="sprite-grads sprite-grads-kevin"></span>
						</div>
					</div>
					<!-- different spacing than left size to align text -->
					<div class="row row-gap-large">
						<div class="col-xs-12">
							<p>
								Hire our Nanodegree grads.
							</p>
							<p class="text-large">
								<a href="/hire-our-students"><strong>Let's talk!</strong></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<hr class="hr-gradient">
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h2 class="h-slim">Popular Courses</h2>
						<p class="text-quote-size">
							<small>
								All our course materials are free!
							</small>
						</p>
						<div data-course-card-fetcher="" data-cards-per-row-on-mobile="2" data-show-partners="true" data-card-courses="['ud853', 'ep245', 'ud775', 'cs046']" class="ng-isolate-scope"><div data-ng-hide="finished" class="text-center ng-hide" style="">
  <div class="row row-gap-huge"></div>
  <img src="//lh5.ggpht.com/b3OandPWsUWAnRVS5d8JS8OL0nu8dU2d3NceS7p1yKhPl9KD4EhqeylPm7yFbft5wmsA2VCAZ-8wAkmFduXJ=s0#w=90&amp;h=30" alt="Loading dots">
</div>

<div data-ng-show="finished" class="" style="">
  <!-- ngRepeat: row in rows --><div data-ng-repeat="row in rows" class="ng-scope" style="">
    <div class="row row-gap-small hidden-xs"></div>
    <div class="row text-center">
      <div data-ng-repeat="course in row" class="ng-scope">
        <div data-ng-class="columnWidthClass" class="col-xs-6 col-sm-3">
          <a data-ng-href="/course/developing-android-apps--ud853" href="/course/developing-android-apps--ud853">
            <img class="img-responsive thumbnail thumbnail-bordered" data-ng-src="//lh6.ggpht.com/57QPWoDnN4dSulg4tqC_pFHcN5pmUIzyrXyu3TiirP1JRCQ36fzz6IgEPl2HdMZ3GIrc80rRzAkRiPUyOXM=s300#w=1724&amp;h=1060" alt="Developing Android Apps" src="//lh6.ggpht.com/57QPWoDnN4dSulg4tqC_pFHcN5pmUIzyrXyu3TiirP1JRCQ36fzz6IgEPl2HdMZ3GIrc80rRzAkRiPUyOXM=s300#w=1724&amp;h=1060">
          </a>
          <strong><a data-ng-href="/course/developing-android-apps--ud853" class="ng-binding" href="/course/developing-android-apps--ud853">Developing Android Apps</a></strong>
          <div data-ng-show="course.showPartner &amp;&amp; partners[course.key].length > 0" class="" style="">
            <div class="row row-gap-small">
              <div class="col-xs-12 text-center">
                <div class="h4 h-slim" data-ng-hide="course.isNanodegree">built by</div>
                <div class="h4 h-slim ng-hide" data-ng-show="course.isNanodegree">co-created by</div>
                <!-- ngRepeat: partner in partners[course.key] --><span data-ng-repeat="partner in partners[course.key]" class="ng-scope" style="">
                  <img class="img-responsive image-responsive-centered" data-ng-src="//lh3.googleusercontent.com/vcKw3Ke-8SZ_-P06FUYzNw5YrVLBLA89-m2ohWqF-enpYBLXH3rgqbLOTp1KockjSzHafO1c6yHmvfzTBdze=s90#w=1000&amp;h=329" alt="Google" src="//lh3.googleusercontent.com/vcKw3Ke-8SZ_-P06FUYzNw5YrVLBLA89-m2ohWqF-enpYBLXH3rgqbLOTp1KockjSzHafO1c6yHmvfzTBdze=s90#w=1000&amp;h=329">
                </span><!-- end ngRepeat: partner in partners[course.key] -->
              </div>
            </div>
          </div>
          <div class="row row-gap-huge visible-xs"></div>
        </div>

        <!-- Makes sure the next row on mobile formats properly and does get half stuck
          in any space on the previous row.
          See http://getbootstrap.com/css/#grid-responsive-resets.
        -->
        <!-- ngIf: cardsPerRowOnMobile===2 && $odd -->
      </div><!-- end ngRepeat: course in row --><div data-ng-repeat="course in row" class="ng-scope">
        <div data-ng-class="columnWidthClass" class="col-xs-6 col-sm-3">
          <a data-ng-href="/course/how-to-build-a-startup--ep245" href="/course/how-to-build-a-startup--ep245">
            <img class="img-responsive thumbnail thumbnail-bordered" data-ng-src="//lh6.ggpht.com/l0tJ09Lye8eNFttGQ7uvMGV-x0qxJk9xgs6e-MNRxnJeaCBxVqbYLIKmR13dk6hVdO8S5VYcmswfkBQR65s=s300#w=436&amp;h=268" alt="How to Build a Startup" src="//lh6.ggpht.com/l0tJ09Lye8eNFttGQ7uvMGV-x0qxJk9xgs6e-MNRxnJeaCBxVqbYLIKmR13dk6hVdO8S5VYcmswfkBQR65s=s300#w=436&amp;h=268">
          </a>
          <strong><a data-ng-href="/course/how-to-build-a-startup--ep245" class="ng-binding" href="/course/how-to-build-a-startup--ep245">How to Build a Startup</a></strong>
          <div data-ng-show="course.showPartner &amp;&amp; partners[course.key].length > 0" class="ng-hide">
            <div class="row row-gap-small">
              <div class="col-xs-12 text-center">
                <div class="h4 h-slim" data-ng-hide="course.isNanodegree">built by</div>
                <div class="h4 h-slim ng-hide" data-ng-show="course.isNanodegree">co-created by</div>
                <!-- ngRepeat: partner in partners[course.key] -->
              </div>
            </div>
          </div>
          <div class="row row-gap-huge visible-xs"></div>
        </div>

        <!-- Makes sure the next row on mobile formats properly and does get half stuck
          in any space on the previous row.
          See http://getbootstrap.com/css/#grid-responsive-resets.
        -->
        <!-- ngIf: cardsPerRowOnMobile===2 && $odd --><div data-ng-if="cardsPerRowOnMobile===2 &amp;&amp; $odd" class="clearfix visible-xs ng-scope"></div><!-- end ngIf: cardsPerRowOnMobile===2 && $odd -->
      </div><!-- end ngRepeat: course in row --><div data-ng-repeat="course in row" class="ng-scope">
        <div data-ng-class="columnWidthClass" class="col-xs-6 col-sm-3">
          <a data-ng-href="/course/how-to-use-git-and-github--ud775" href="/course/how-to-use-git-and-github--ud775">
            <img class="img-responsive thumbnail thumbnail-bordered" data-ng-src="//lh5.ggpht.com/y6QqOHLmFIoeSfv2eTSAkqKxFiWVXaWvpIfInxf9nhf_SPBFf5rXElThQTZbsUFram7UEb8eN2gAUe9fLE5H=s300#w=1725&amp;h=1060" alt="How to Use Git and GitHub" src="//lh5.ggpht.com/y6QqOHLmFIoeSfv2eTSAkqKxFiWVXaWvpIfInxf9nhf_SPBFf5rXElThQTZbsUFram7UEb8eN2gAUe9fLE5H=s300#w=1725&amp;h=1060">
          </a>
          <strong><a data-ng-href="/course/how-to-use-git-and-github--ud775" class="ng-binding" href="/course/how-to-use-git-and-github--ud775">How to Use Git and GitHub</a></strong>
          <div data-ng-show="course.showPartner &amp;&amp; partners[course.key].length > 0" class="ng-hide">
            <div class="row row-gap-small">
              <div class="col-xs-12 text-center">
                <div class="h4 h-slim" data-ng-hide="course.isNanodegree">built by</div>
                <div class="h4 h-slim ng-hide" data-ng-show="course.isNanodegree">co-created by</div>
                <!-- ngRepeat: partner in partners[course.key] -->
              </div>
            </div>
          </div>
          <div class="row row-gap-huge visible-xs"></div>
        </div>

        <!-- Makes sure the next row on mobile formats properly and does get half stuck
          in any space on the previous row.
          See http://getbootstrap.com/css/#grid-responsive-resets.
        -->
        <!-- ngIf: cardsPerRowOnMobile===2 && $odd -->
      </div><!-- end ngRepeat: course in row --><div data-ng-repeat="course in row" class="ng-scope">
        <div data-ng-class="columnWidthClass" class="col-xs-6 col-sm-3">
          <a data-ng-href="/course/intro-to-java-programming--cs046" href="/course/intro-to-java-programming--cs046">
            <img class="img-responsive thumbnail thumbnail-bordered" data-ng-src="//lh4.ggpht.com/9ytiUdz0QYHwuMJFTXcNXZn4FctGW6Zszm7Aj5s7mXHHXsapIKYPL08vPWeghAjF2QmuhPiYCU2Q3kNeW7w=s300#w=1725&amp;h=1060" alt="Intro to Java Programming" src="//lh4.ggpht.com/9ytiUdz0QYHwuMJFTXcNXZn4FctGW6Zszm7Aj5s7mXHHXsapIKYPL08vPWeghAjF2QmuhPiYCU2Q3kNeW7w=s300#w=1725&amp;h=1060">
          </a>
          <strong><a data-ng-href="/course/intro-to-java-programming--cs046" class="ng-binding" href="/course/intro-to-java-programming--cs046">Intro to Java Programming</a></strong>
          <div data-ng-show="course.showPartner &amp;&amp; partners[course.key].length > 0" class="" style="">
            <div class="row row-gap-small">
              <div class="col-xs-12 text-center">
                <div class="h4 h-slim" data-ng-hide="course.isNanodegree">built by</div>
                <div class="h4 h-slim ng-hide" data-ng-show="course.isNanodegree">co-created by</div>
                <!-- ngRepeat: partner in partners[course.key] --><span data-ng-repeat="partner in partners[course.key]" class="ng-scope" style="">
                  <img class="img-responsive image-responsive-centered" data-ng-src="//lh3.googleusercontent.com/y2vNv1jlkBGooQdU5iP8AbAnlF17d1ur3etXFuWN5xhkLC_MIT-NtjAHBXMf3pg1Oz6voFNjqZWa1QQ6sd3K=s90#w=250&amp;h=60" alt="San Jose State University" src="//lh3.googleusercontent.com/y2vNv1jlkBGooQdU5iP8AbAnlF17d1ur3etXFuWN5xhkLC_MIT-NtjAHBXMf3pg1Oz6voFNjqZWa1QQ6sd3K=s90#w=250&amp;h=60">
                </span><!-- end ngRepeat: partner in partners[course.key] -->
              </div>
            </div>
          </div>
          <div class="row row-gap-huge visible-xs"></div>
        </div>

        <!-- Makes sure the next row on mobile formats properly and does get half stuck
          in any space on the previous row.
          See http://getbootstrap.com/css/#grid-responsive-resets.
        -->
        <!-- ngIf: cardsPerRowOnMobile===2 && $odd --><div data-ng-if="cardsPerRowOnMobile===2 &amp;&amp; $odd" class="clearfix visible-xs ng-scope"></div><!-- end ngIf: cardsPerRowOnMobile===2 && $odd -->
      </div><!-- end ngRepeat: course in row -->
    </div>
    <div data-ng-hide="$last" class="row row-gap-huge hidden-xs ng-hide">
  </div>
</div><!-- end ngRepeat: row in rows -->
</div></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr class="hr-gradient">

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2 class="h-slim">What's New</h2>
				</div>
			</div>
			<div class="row row-gap-small text-center">

				<div class="col-sm-3 col-xs-6">
					<a href="//www.nytimes.com/2015/09/17/technology/udacity-says-it-can-teach-tech-skills-to-millions.html">
						<img class="img-responsive image-responsive-centered" alt="Quote from NYT: I spoke to several students who described Udacity as life-changing - Farhad Manjoo, The New York Times" title="The New York Times" src="//lh3.googleusercontent.com/1IlsBEaEm-R1JQwWwK1liuOQq7S3m4Q-7rEvGClEWSDAslL64T87DXQ_s5TUhzelbErDW4PlhakaMb7jKpaf=s263#w=526&amp;h=324" srcset="//lh3.googleusercontent.com/1IlsBEaEm-R1JQwWwK1liuOQq7S3m4Q-7rEvGClEWSDAslL64T87DXQ_s5TUhzelbErDW4PlhakaMb7jKpaf=s526#w=526&amp;h=324 2x">
					</a>
					<!-- br tags for consistent spacing across tiles -->
					<h3>Udacity in The New&nbsp;York&nbsp;Times</h3>
					<div>
						The New York Times profiles students whose lives have been transformed by Udacity.
						<a href="//www.nytimes.com/2015/09/17/technology/udacity-says-it-can-teach-tech-skills-to-millions.html">Learn more</a>
					</div>
				</div>

				<div class="col-sm-3 col-xs-6">
					<a href="/course/tech-entrepreneur-nanodegree--nd007">
						<img class="img-responsive image-responsive-centered" alt="A woman typing on a laptop, with two kids drawing on a chalkboard" title="The New Tech Entrepreneur Nanodegree Program" src="//lh3.googleusercontent.com/-YaKMrNz77DV2HufJY_wKthPUrvryUIEYN89aU4WNzL3sb4wNIV7_0K7l35o2N_RE7_p6pU6mVvfRy9NAw=s263#w=526&amp;h=324" srcset="//lh3.googleusercontent.com/-YaKMrNz77DV2HufJY_wKthPUrvryUIEYN89aU4WNzL3sb4wNIV7_0K7l35o2N_RE7_p6pU6mVvfRy9NAw=s526#w=526&amp;h=324 2x">
					</a>
					<h3>The New Tech Entrepreneur Nanodegree Program</h3>
					<div>
						From ideation to marketing to monetization,
						<a href="/course/tech-entrepreneur-nanodegree--nd007">learn how</a>
						to transform your amazing ideas into amazing products and businesses.
					</div>
				</div>

				<div class="col-xs-12 visible-xs"><div class="row row-gap-huge"></div></div>

				<div class="col-sm-3 col-xs-6">
					<a href="http://blog.udacity.com/2015/09/traits-skills-of-a-tech-entrepreneur.html">
						<img class="img-responsive image-responsive-centered" alt="Infographic about tech entrepreneur traits" title="Traits and Skills of a Tech Entrepreneur" src="//lh3.googleusercontent.com/XFEkhKdi2ErDiaDcTnfzNkLAuI6HlwTy-A7CzvUjIUcSJypv6vSDxrLlxjenVFWSocERLuPAFVL9WOocGj8j=s263#w=526&amp;h=324" srcset="//lh3.googleusercontent.com/XFEkhKdi2ErDiaDcTnfzNkLAuI6HlwTy-A7CzvUjIUcSJypv6vSDxrLlxjenVFWSocERLuPAFVL9WOocGj8j=s526#w=526&amp;h=324 2x">
					</a>
					<h3>Traits and Skills of a Tech Entrepreneur</h3>
					<div>
						Surprise yourself by discovering what YOU share in common with top Tech Entrepreneurs.
						<a href="http://blog.udacity.com/2015/09/traits-skills-of-a-tech-entrepreneur.html">See infographic</a>
					</div>
				</div>

				<div class="col-sm-3 col-xs-6">
					<a href="/india">
						<img class="img-responsive image-responsive-centered" alt="Group of people working together on laptops" title="Hello, India!" src="//lh3.googleusercontent.com/Q0H6QT57uiAw85n2GlKtIh3XpKHokb_UuWRN4dN4qiZsuSFsxpG5ak_UE7hN6llWmliADn6bKv46GJlK1UM=s263#w=526&amp;h=324" srcset="//lh3.googleusercontent.com/Q0H6QT57uiAw85n2GlKtIh3XpKHokb_UuWRN4dN4qiZsuSFsxpG5ak_UE7hN6llWmliADn6bKv46GJlK1UM=s526#w=526&amp;h=324 2x">
					</a>
					<h3>Hello,&nbsp;World!<br>Hello,&nbsp;India!</h3>
					<div>
						Learn about our new partnership in India with Google and Tata Trusts,
						<a href="/india">including scholarships</a>
						for aspiring Android developers.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


</div>

