



<div data-responsiveness-enabler="">
	<div class="super-header-wrapper section-inverse section-slim">
		<h1 class="h1-text">Udacity Free Online Courses</h1>
		<!-- Banner background -->
		<img src="//lh3.googleusercontent.com/M_Gd4PJmejq6KbbotGgHwz4bvWOBjDQTTmyu4wwAtcLIIHKdsToonXH7nkASTXkLbArBEro6hZu-lYiUo80=s1280#w=1800&amp;h=970" class="black-hole">
		<div class="super-header image-homepage-banner ng-scope" >
			<div class="container">
				<div class="super-header-content row">
					<div class="col-xs-12 text-inverse">
						<div class="row row-gap-huge"></div>
						<div class="row row-gap-huge"></div>
						<section class="sliding-text-wrapper">
							<div class="stationary-text-top">Become a</div>
							<div class="sliding-text">
								<div style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 0;">
									Web Developer
								</div>
								<div style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 0;">
									Data Analyst
								</div>
								<div style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
									Full Stack Developer
								</div>
								<div style="transform: matrix(1, 0, 0, 1, -100, 0); opacity: 0;">
									Mobile Developer
								</div>
							</div>
							<div class="row row-gap-medium">
							<div class="stationary-text-bottom">Earn a Nanodegree Credential</div>
							<div class="row row-gap-huge"></div>
							<a href="/nanodegree" amp-log-event="HomePageLearnMore"><span class="btn btn-primary btn-lg btn-min-width-sm">Learn more</span></a>
							<div class="row row-gap-huge"></div>
						</div></section>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="section section-standout section-slim ng-scope" >
		<div class="container">
			<div class="row row-gap-small">
				<div class="col-sm-12 text-center">
					<h2>Codefun Programs</h2>
				</div>
			</div>
			<div class="row row-gap-large ng-hide" data-ng-show="loading" style="">
				<div class="text-center">
					<img class="" src="//lh5.ggpht.com/b3OandPWsUWAnRVS5d8JS8OL0nu8dU2d3NceS7p1yKhPl9KD4EhqeylPm7yFbft5wmsA2VCAZ-8wAkmFduXJ=s0#w=90&amp;h=30" alt="loading dots">
				</div>
			</div>
		</div>
		<!-- display for laptops and desktops  -->
		<div class="container no-margin-horizontal visible-sm visible-xs visible-md visible-lg" data-ng-show="!loading" style="">
			<!-- ngRepeat: degree in nanodegrees --><div  class="ng-scope" style="">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd801 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd801" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="images/angular.png" alt="Android Developer" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="images/angular.png">
				<h3 class="text-inverse nd-block-title ng-binding">Android Developer</h3>
				<hr class="nd-block-hr">
				Become an Android Developer
			</div>
			<div class="back theme-border-color ng-binding">
				For intermediate programmers pursuing Android mastery, this program teaches the tools, principles, and patterns that underlie all Android development.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd009 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd009" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="images/react.png" alt="Machine Learning Engineer" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="images/react.png">
				<h3 class="text-inverse nd-block-title ng-binding">Machine Learning Engineer</h3>
				<hr class="nd-block-hr">
				Make Predictive Models
			</div>
			<div class="back theme-border-color ng-binding">
				Become a machine learning engineer and apply predictive models to massive data sets in fields like education, finance, healthcare or robotics.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd007 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd007" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="images/ionic.png" alt="Tech Entrepreneur" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="images/ionic.png">
				<h3 class="text-inverse nd-block-title ng-binding">Tech Entrepreneur</h3>
				<hr class="nd-block-hr">
				Build a Business Around Your App
			</div>
			<div class="back theme-border-color ng-binding">
				From ideation to marketing to monetization, this program teaches you how to transform ideas into market-ready products, and build sustainable businesses around them.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd011 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd011" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="images/django.png" alt="Mobile Game Developer" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="images/django.png">
				<h3 class="text-inverse nd-block-title ng-binding">Mobile Game Developer</h3>
				<hr class="nd-block-hr">
				Develop &amp; Monetize 2D Games with LibGDX
			</div>
			<div class="back theme-border-color ng-binding">
				Learn to build and monetize your own 2D games.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd004 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd004" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="images/bootstrap.png" alt="Full Stack Web Developer" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="images/bootstrap.png">
				<h3 class="text-inverse nd-block-title ng-binding">Full Stack Web Developer</h3>
				<hr class="nd-block-hr">
				Build Complex Web Applications
			</div>
			<div class="back theme-border-color ng-binding">
				Learn how to create server-side, data-driven web applications that support any front-end and can scale to support hundreds of thousands of users.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd003 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd003" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="images/gulp.png" alt="iOS Developer" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="images/gulp.png">
				<h3 class="text-inverse nd-block-title ng-binding">iOS Developer</h3>
				<hr class="nd-block-hr">
				Program Apps for the iPhone and iPad
			</div>
			<div class="back theme-border-color ng-binding">
				Master writing in Swift as you build five portfolio-worthy iOS apps to demonstrate your expertise as an iOS Developer.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd002 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd002" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="images/grunt.png" alt="Data Analyst" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="images/grunt.png">
				<h3 class="text-inverse nd-block-title ng-binding">Data Analyst</h3>
				<hr class="nd-block-hr">
				Discover Insights from Data
			</div>
			<div class="back theme-border-color ng-binding">
				Learn to clean up messy data, uncover patterns and insights, make predictions using machine learning, and clearly communicate your findings.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd001 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd001" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="images/backbone.png" alt="Front-End Web Developer" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="images/backbone.png">
				<h3 class="text-inverse nd-block-title ng-binding">Front-End Web Developer</h3>
				<hr class="nd-block-hr">
				Create Stunning User Experiences
			</div>
			<div class="back theme-border-color ng-binding">
				Become a Front-End Web Developer by completing a variety of projects for your portfolio - become an HTML, CSS and JavaScript pro!
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd000 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd000" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="images/cordova.png" alt="Intro to Programming" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="images/cordova.png">
				<h3 class="text-inverse nd-block-title ng-binding">Intro to Programming</h3>
				<hr class="nd-block-hr">
				Learn to Code
			</div>
			<div class="back theme-border-color ng-binding">
				Welcome to the world of programming. Learn the foundational skills that all programmers use whether they program mobile apps, create web pages, or analyze data.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>

<!--###########################################################  -->
<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd801 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd801" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="images/git.png" alt="Android Developer" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="images/git.png">
				<h3 class="text-inverse nd-block-title ng-binding">Android Developer</h3>
				<hr class="nd-block-hr">
				Become an Android Developer
			</div>
			<div class="back theme-border-color ng-binding">
				For intermediate programmers pursuing Android mastery, this program teaches the tools, principles, and patterns that underlie all Android development.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd010 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd010" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="images/javascript.png" alt="Machine Learning Engineer" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="images/javascript.png">
				<h3 class="text-inverse nd-block-title ng-binding">Machine Learning Engineer</h3>
				<hr class="nd-block-hr">
				Make Predictive Models
			</div>
			<div class="back theme-border-color ng-binding">
				Become a machine learning engineer and apply predictive models to massive data sets in fields like education, finance, healthcare or robotics.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile>
			</div><!-- end ngRepeat: degree in nanodegrees --><div  class="ng-scope">
				<nanodegree-tile nd="degree" class="ng-isolate-scope"><div class="theme-nd007 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
	<div class="section section-standout section-slim flip-container">
		<a href="/course/nd007" class="flipper no-underline">
			<div class="front text-inverse theme-background-color ng-binding">
				<img class="icon-huge center-block" ng-src="images/html5.png" alt="Tech Entrepreneur" title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming" src="images/html5.png">
				<h3 class="text-inverse nd-block-title ng-binding">Tech Entrepreneur</h3>
				<hr class="nd-block-hr">
				Build a Business Around Your App
			</div>
			<div class="back theme-border-color ng-binding">
				From ideation to marketing to monetization, this program teaches you how to transform ideas into market-ready products, and build sustainable businesses around them.
				<div class="nd-block-back-bottom">
					<div class="text-center">
						<span class="btn btn-primary">Learn more</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</nanodegree-tile-handheld>
			</div><!-- end ngRepeat: degree in nanodegrees -->
		</div>
		<div class="row row-gap-huge no-margin-horizontal"></div>
		<div class="row text-center no-margin-horizontal">
			<a href="//udacity.com/success"><span class="btn btn-primary btn-lg btn-min-width-sm">Student Success Stories</span></a>
		</div>
		<div class="row row-gap-huge no-margin-horizontal"></div>
	</div>

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2 class="h-slim">The Nanodegree Program Formula</h2>
					<p class="text-quote-size">
						<small>
							Master new skills through a series of online courses and projects
						</small>
					</p>
				</div>
			</div>
			<div class="row row-gap-small"></div>
			<div class="row text-center">
				<div class="col-sm-4">
					<img class="icon-huge" alt="Silicon Valley cityscape" title="Silicon Valley cityscape" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_formula_silicon_valley.svg">
					<br>
					<h3>By Silicon Valley</h3>
					<p class="text-large">
						Tech giants teach you what matters
					</p>
				</div>
				<div class="col-sm-4">
					<img class="icon-huge" alt="employee badge" title="employee badge" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_formula_job_focused.svg">
					<br>
					<h3>Career-focused</h3>
					<p class="text-large">
						Learn skills for specific job titles
					</p>
				</div>
				<div class="col-sm-4">
					<img class="icon-huge" alt="mountain with challenging pathway to top" title="mountain with challenging pathway to top" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/nd_formula_rigourous.svg">
					<br>
					<h3>Rigorous</h3>
					<p class="text-large">
						Break a sweat solving real challenges
					</p>
				</div>
			</div>
			<div class="row row-gap-medium">
				<div class="col-xs-12 text-center">
					<p class="text-large">
						<a href="/nanodegree"><strong>How the Nanodegree program works</strong></a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section section-small section-standout-alternate">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
					<img class="icon-large" src="//s3.amazonaws.com/content.udacity-data.com/site-svgs/hp-wallet.svg">
					<br>
					<h3>
						Get half of your tuition back when you graduate
					</h3>
					<p>
						We're excited to announce a new feature of the Nanodegree program that will
						give you half of your tuition back when you graduate within 12 months of enrollment.
						<br>
						<a target="_blank" href="http://blog.udacity.com/2015/07/get-half-your-tuition-back-when-you-graduate.html">Learn more &gt;&gt;</a>
					</p>
				</div>
			</div>
		</div>
	</div>


