<section class="header-photo bg-scroll bg-dark" id="about">

	<div class="color-overlay">
		<div class="container text-center">
			<h1 class="uppercase heading-about white mb-90">
				Awesome Technologies <br>for Awesome People {js frameworks}
			</h1>
		</div>
	</div>
</section>
<section class="small-section student-mobile">
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<div class="section-icon color-primary">
				<span class="icon-ghost"></span>
			</div>
			<div class="title-small uppercase">
				What is CodeHS<span class="text-point">.</span>
			</div>
			<div class="line-section mt-20 mb-30"></div>
			<div class="row mb-30">
				<p class="about_description">
					CodeHS is an online education platform that makes it easy to turn business ideas into real web apps. We teach you step by step how to build amazing apps that you can use to launch your next startup or build an amazing portfolio to land a dream job as software developer.
					<br><br>
					With CodeHS you'll be able to create many different kinds of web apps and customize them with cool features that we teach you through our Codecasts (short tutorials on how to integrate useful features).
					<br><br>
					At CodeHS making your dream app is just as fun as mixing puzzle blocks.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="small-section student-mobile">
	<div class="container">
		<div class="col-md-10 col-md-offset-1">

			<div class="section-icon color-primary">
				<span class="icon-emoticon-smile"></span>
			</div>
			<div class="title-small uppercase">
				Meet the team<span class="text-point">.</span>
			</div>
			<div class="line-section mt-20 mb-30"></div>
			<div class="row mb-30">
				<div class="col-md-6 col-xs-12">
					<div class="row">
						<div class="col-md-5 col-xs-5">
							<img alt="Tiago Martins | CodeHS" class="img-responsive" src="../images/man.jpg">
						</div>
						<div class="col-md-7 col-xs-7">
							<div class="team-title text-left uppercase">
								Tiago Martins
							</div>
							<div class="serif text-left gray header-team">
								CEO &amp; Business Developer
							</div>
							<p class="team-text">
								Master of Ruby on Rails and successful CodeHS teacher. Serial entrepreneur in the education industry but always willing to learn from everyone he meets.
							</p>
							<div class="location-team mb-5">
								<i class="fa fa-map-marker location-team-icon gray"></i> Amsterdam
							</div>
							<div class="location-team">
								<i class="fa fa-facebook-square location-team-icon gray"></i> <a target="_blank" href="https://www.facebook.com/tiagoemmartins">@tiagomartins</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xs-12">
					<div class="row">
						<div class="col-md-5 col-xs-5">
							<img alt="Henrique Caiano | CodeHS" class="img-responsive" src="../images/man.jpg">
						</div>
						<div class="col-md-7 col-xs-7">
							<div class="team-title text-left uppercase">
								Henrique Caiano
							</div>
							<div class="serif text-left gray header-team">
								CPO &amp; Lead Designer
							</div>
							<p class="team-text">
								Just loves designing stuff! From UI/UX to electronic music production, Henrique is an allround artist always looking for cool ways to give shape to his creative mind.
							</p>
							<div class="location-team mb-5">
								<i class="fa fa-map-marker location-team-icon gray"></i> Amsterdam
							</div>
							<div class="location-team">
								<i class="fa fa-facebook-square location-team-icon gray"></i> <a target="_blank" href="https://www.facebook.com/henriquecaiano">@henriquecaiano</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

