<section class="header-photo bg-scroll bg-dark" id="about">

	<div class="color-overlay">
		<div class="container text-center">
			<h1 class="uppercase heading-about white mb-90">
				Awesome Technologies <br>for Awesome People {js frameworks}
			</h1>
		</div>
	</div>
</section>


<div class="technology-pages-wrapper">
<section class="section-jump-into-technologies">
    <div class="jump-into-technologies">
      <div class="section-content-holder">
        <ul class="technologies-list">

<li class="item-wrapper">
    <a href="#angularjs">
    <div class="item">
      <div class="tech-logo-holder">
        <img alt="Angularjs" class="tech-logo" src="//d1xwtr0qwr70yv.cloudfront.net/assets/tech/angularjs-bb8c730bb5b75b4d49ed14cc6318eb6d.svg">
      </div>
      <div class="description">
        <div class="title-holder">
          <h4 class="title">
            AngularJS
          </h4>
          <span class="badge badge-info">283</span>
        </div>
        <div class="text-holder">AngularJS is an open-source JavaScript framework, maintained b...</div>
      </div>
    </div>
</a></li>



<li class="item-wrapper">
    <a href="#js">
    <div class="item">
      <div class="tech-logo-holder">
        <img alt="Js" class="tech-logo" src="//d1xwtr0qwr70yv.cloudfront.net/assets/tech/js-665808cffb0c855700a2049a16ada01b.svg">
      </div>
      <div class="description">
        <div class="title-holder">
          <h4 class="title">
            JavaScript
          </h4>
          <span class="badge badge-info">205</span>
        </div>
        <div class="text-holder">JavaScript® (often shortened to JS) is a lightweight, interpre...</div>
      </div>
    </div>
</a></li>



<li class="item-wrapper">
    <a href="#react">
    <div class="item">
      <div class="tech-logo-holder">
        <img alt="React" class="tech-logo" src="//d1xwtr0qwr70yv.cloudfront.net/assets/tech/react-7d7d276fa08104b86c985d3afd0058fe.svg">
      </div>
      <div class="description">
        <div class="title-holder">
          <h4 class="title">
            React
          </h4>
          <span class="badge badge-info">139</span>
        </div>
        <div class="text-holder">Lots of people use React as the V in MVC. Since React makes no...</div>
      </div>
    </div>
</a></li>



<li class="item-wrapper">
    <a href="#rx">
    <div class="item">
      <div class="tech-logo-holder">
        <img alt="Rx" class="tech-logo" src="//d1xwtr0qwr70yv.cloudfront.net/assets/tech/rx-3403f36ae431c3f18056a7f3fa0406fe.svg">
      </div>
      <div class="description">
        <div class="title-holder">
          <h4 class="title">
            RxJS
          </h4>
          <span class="badge badge-info">46</span>
        </div>
        <div class="text-holder">"The Reactive Extensions for JavaScript (RxJS) is a set of lib...</div>
      </div>
    </div>
</a></li>



<li class="item-wrapper">
    <a href="#node">
    <div class="item">
      <div class="tech-logo-holder">
        <img alt="Node" class="tech-logo" src="//d1xwtr0qwr70yv.cloudfront.net/assets/tech/node-aa74347d8a25327f7fcf5a3065be6d36.svg">
      </div>
      <div class="description">
        <div class="title-holder">
          <h4 class="title">
            Node.js
          </h4>
          <span class="badge badge-info">61</span>
        </div>
        <div class="text-holder">Node.js is a platform built on Chrome's JavaScript runtime for...</div>
      </div>
    </div>
</a></li>



<li class="item-wrapper">
    <a href="#angular2">
    <div class="item">
      <div class="tech-logo-holder">
        <img alt="Angular2" class="tech-logo" src="//d1xwtr0qwr70yv.cloudfront.net/assets/tech/angular2-7f798c98a29453af5611913f9c69fb36.svg">
      </div>
      <div class="description">
        <div class="title-holder">
          <h4 class="title">
            Angular 2
          </h4>
          <span class="badge badge-info">36</span>
        </div>
        <div class="text-holder">Angular is a development platform for creating applications us...</div>
      </div>
    </div>
</a></li>



<li class="item-wrapper">
    <a href="#d3">
    <div class="item">
      <div class="tech-logo-holder">
        <img alt="D3" class="tech-logo" src="//d1xwtr0qwr70yv.cloudfront.net/assets/tech/d3-7732c6dfe97d8fdb11a2cf9312b8b088.svg">
      </div>
      <div class="description">
        <div class="title-holder">
          <h4 class="title">
            D3
          </h4>
          <span class="badge badge-info">18</span>
        </div>
        <div class="text-holder">D3.js is a JavaScript library for manipulating documents based...</div>
      </div>
    </div>
</a></li>



<li class="item-wrapper">
    <a href="#es6">
    <div class="item">
      <div class="tech-logo-holder">
        <img alt="Es6" class="tech-logo" src="//d1xwtr0qwr70yv.cloudfront.net/assets/tech/es6-5be7675d18c0ea309b1a5bd4e3959d50.svg">
      </div>
      <div class="description">
        <div class="title-holder">
          <h4 class="title">
            ECMAscript 6
          </h4>
          <span class="badge badge-info">16</span>
        </div>
        <div class="text-holder">ECMAscript 6 is the next generation JavaScript standard. While...</div>
      </div>
    </div>
</a></li>



<li class="item-wrapper">
    <a href="#css">
    <div class="item">
      <div class="tech-logo-holder">
        <img alt="Css" class="tech-logo" src="//d1xwtr0qwr70yv.cloudfront.net/assets/tech/css-29c49f7c9656f0bf3bc045c1c2940f56.svg">
      </div>
      <div class="description">
        <div class="title-holder">
          <h4 class="title">
            CSS
          </h4>
          <span class="badge badge-info">10</span>
        </div>
        <div class="text-holder">Cascading Style Sheets bring order and beauty to our applicati...</div>
      </div>
    </div>
</a></li>



<li class="item-wrapper">
    <a href="#otherjs">
    <div class="item">
      <div class="tech-logo-holder">
        <img alt="Otherjs" class="tech-logo" src="//d1xwtr0qwr70yv.cloudfront.net/assets/tech/otherjs-e56fa8d5733f421d5055cb45aceef959.svg">
      </div>
      <div class="description">
        <div class="title-holder">
          <h4 class="title">
            Misc
          </h4>
          <span class="badge badge-info">8</span>
        </div>
        <div class="text-holder">There are many moving parts when building professional web app...</div>
      </div>
    </div>
</a></li>



<li class="item-wrapper">
    <a href="#grunt">
    <div class="item">
      <div class="tech-logo-holder">
        <img alt="Grunt" class="tech-logo" src="//d1xwtr0qwr70yv.cloudfront.net/assets/tech/grunt-d7eb24a2e4a9822dd89a1e775bfe4c7a.svg">
      </div>
      <div class="description">
        <div class="title-holder">
          <h4 class="title">
            Grunt
          </h4>
          <span class="badge badge-info">10</span>
        </div>
        <div class="text-holder">Grunt is a JavaScript task runner. The less work you have to d...</div>
      </div>
    </div>
</a></li>



<li class="item-wrapper">
    <a href="#typescript">
    <div class="item">
      <div class="tech-logo-holder">
        <img alt="Typescript" class="tech-logo" src="//d1xwtr0qwr70yv.cloudfront.net/assets/tech/typescript-15b3769425e08cf1301b11aabaf6b2b1.svg">
      </div>
      <div class="description">
        <div class="title-holder">
          <h4 class="title">
            TypeScript
          </h4>
          <span class="badge badge-info">3</span>
        </div>
        <div class="text-holder">TypeScript lets you write JavaScript the way you really want t...</div>
      </div>
    </div>
</a></li>





        </ul>
      </div>
    </div>

  </section>
  </div>



