<section class="login-section section">
	<div class="container">

		<div class="clearfix"></div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 text-center">
				<div class="sign-box mt-70">

					<div class="text-center">
						<h3 class="title-small">Recover your password<span class="text-point">.</span></h3>
						<div class="heading-section color-primary">Enter your email address to reset your password.</div>
						<div class="line-section mb-30"></div>
					</div>
					<div class="sign-box-cont">
						<div class="social-buttons override-col-margin col-md-12" style="margin-bottom: 10px;padding: 0px;">
							<div class="col-md-6 override-col-margin">
								<a style="width: 100%" href="/api/users/facebook"
								class="btn btn-primary facebook btn-fb"><i
								class="fa fa-facebook "></i> Facebook</a>
							</div>

							<div class="col-md-6 override-col-margin">
								<a style="width: 100%" href="/api/users/google"
								class="btn btn-primary google btn-tw"><i
								class="fa fa-google-plus "></i> Google</a>
							</div>
						</div>

						<form class="new_user" id="new_user" action="/en/users/password" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="BhsWv4fS0XFYYZkM3q2FxSO5mP9JXNc3kRD1Jt/WLEGIaAOTnff/Ssffl0plHJPbro34LpLJYl1zcmhnLRjIPg==">

							<div class="form-group">
								<input autofocus="autofocus" class="form-control" placeholder="Enter your email" type="email" value="" name="user[email]" id="user_email">
							</div>
							<input type="submit" name="commit" value="Submit" class="btn btn-primary btn-border btn-sm btn-block mt-15">
							<div class="signup text-center mt-15">
								<span>Already have an account?</span>
								<a href="#/authlogin">Sign in</a>
							</div>
						</form>          </div>
					</div>
				</div>
			</div>
		</div>
	</section>
