<div class="row">

			<div class="col-md-4 col-sm-6 mt-30">
				<a href="/en/courses/ruby-on-rails-fundamentals">
					<div class="courses-index-box">
						<div class="courses-thumb " id="introduction-course" style="background-image: url('images/banner/java.jpg');">
						</div>

					</div>
				</a>  <div class="course-index-content">
				<h4 class="uppercase mb-5  stukcasts-title text-left ">
					<a class="black" title="Ruby on Rails Fundamentals" href="/en/courses/ruby-on-rails-fundamentals">Ruby on Rails Fundamentals</a>
				</h4>
				<h5 class="course-info truncate-3" style="">We'll guide you through all the basic bits and pieces like installing Rails, getting in touch with the command line, setting up Github and Heroku accounts
				</h5>
				<div class="course-time">
					<ul>
						<li>4h14min</li>
						<li>38 lectures</li>
						<li><div class="label label-success codecast-label">beginner</div></li>
					</ul>
				</div>
				<div class="row">
					<div class="col-md-6 col-xs-6 col-sm-6" style="padding-right: 5px;">
						<a class="btn btn-primary btn-block btn-xs mt-5 m-0" href="/en/courses/ruby-on-rails-fundamentals">Learn more</a>
					</div>
					<div class="col-md-6 col-xs-6 col-sm-6" style="padding-left: 5px;">
						<a class="btn btn-primary btn-border btn-block btn-xs mt-5 m-0" target="_blank" href="https://stuk-do.herokuapp.com/">Live App Preview</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-sm-6 mt-30">
			<a href="/en/courses/2-sided-marketplace">
				<div class="courses-index-box">
					<div class="courses-thumb " id="introduction-course" style="background-image: url('images/banner/java.jpg');">
					</div>

				</div>
			</a>  <div class="course-index-content">
			<h4 class="uppercase mb-5  stukcasts-title text-left ">
				<a class="black" title="2 Sided Marketplace" href="/en/courses/2-sided-marketplace">2 Sided Marketplace</a>
			</h4>
			<h5 class="course-info truncate-3" style="">Do you have an amazing business idea for a marketplace? We teach you step by step how build web platform where people can exchange goods or services.</h5>
			<div class="course-time">
				<ul>
					<li>4h06min</li>
					<li>36 lectures</li>
					<li><div class="label label-warning codecast-label">intermediate</div></li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-6 col-xs-6 col-sm-6" style="padding-right: 5px;">
					<a class="btn btn-primary btn-block btn-xs mt-5 m-0" href="/en/courses/2-sided-marketplace">Learn more</a>
				</div>
				<div class="col-md-6 col-xs-6 col-sm-6" style="padding-left: 5px;">
					<a class="btn btn-primary btn-border btn-block btn-xs mt-5 m-0" target="_blank" href="https://e-stuk.herokuapp.com/">Live App Preview</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-sm-6 mt-30">
		<a href="/en/courses/social-network">
			<div class="courses-index-box">
				<div class="courses-thumb " id="introduction-course" style="background-image: url('images/banner/java.jpg');">
				</div>

			</div>
		</a>  <div class="course-index-content">
		<h4 class="uppercase mb-5  stukcasts-title text-left ">
			<a class="black" title="Social Network" href="/en/courses/social-network">Social Network</a>
		</h4>
		<h5 class="course-info truncate-3" style="">Did you discover the magical niche for a new social network? Learn how to make a social network platform where people can connect, and share information.</h5>
		<div class="course-time">
			<ul>
				<li>5h54min</li>
				<li>36 lectures</li>
				<li><div class="label label-danger codecast-label">advanced</div></li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-6 col-xs-6 col-sm-6" style="padding-right: 5px;">
				<a class="btn btn-primary btn-block btn-xs mt-5 m-0" href="/en/courses/social-network">Learn more</a>
			</div>
			<div class="col-md-6 col-xs-6 col-sm-6" style="padding-left: 5px;">
				<a class="btn btn-primary btn-border btn-block btn-xs mt-5 m-0" target="_blank" href="https://stukbook.herokuapp.com/">Live App Preview</a>
			</div>
		</div>
	</div>
</div>

<div class="col-md-4 col-sm-6 mt-30">
	<a href="/en/courses/directory-website">
		<div class="courses-index-box">
			<div class="courses-thumb " id="introduction-course" style="background-image: url('images/banner/ws.gif');">
			</div>

		</div>
	</a>  <div class="course-index-content">
	<h4 class="uppercase mb-5  stukcasts-title text-left ">
		<a class="black" title="Directory Website" href="/en/courses/directory-website">Directory Website</a>
	</h4>
	<h5 class="course-info truncate-3" style="">We'll teach you the main concepts behind websites like Yelp, Tripadvisor or Craigslist by building a platform where people can search for people, goods or businesses, view information and share reviews.</h5>
	<div class="course-time">
		<ul>
			<li>3h44min</li>
			<li>31 lectures</li>
			<li><div class="label label-warning codecast-label">intermediate</div></li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-right: 5px;">
			<a class="btn btn-primary btn-block btn-xs mt-5 m-0" href="/en/courses/directory-website">Learn more</a>
		</div>
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-left: 5px;">
			<a class="btn btn-primary btn-border btn-block btn-xs mt-5 m-0" target="_blank" href="https://morning-plateau-6572.herokuapp.com/">Live App Preview</a>
		</div>
	</div>
</div>
</div>

<div class="col-md-4 col-sm-6 mt-30">
	<a href="/en/courses/dating-app">
		<div class="courses-index-box">
			<div class="courses-thumb " id="introduction-course" style="background-image: url('images/banner/ws.gif');">
			</div>

		</div>
	</a>  <div class="course-index-content">
	<h4 class="uppercase mb-5  stukcasts-title text-left ">
		<a class="black" title="Dating App" href="/en/courses/dating-app">Dating App</a>
	</h4>
	<h5 class="course-info truncate-3" style="">This course teaches you how to create and deploy a dating app where users can quickly check and rate other users.</h5>
	<div class="course-time">
		<ul>
			<li>7h18min</li>
			<li>33 lectures</li>
			<li><div class="label label-danger codecast-label">advanced</div></li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-right: 5px;">
			<a class="btn btn-primary btn-block btn-xs mt-5 m-0" href="/en/courses/dating-app">Learn more</a>
		</div>
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-left: 5px;">
			<a class="btn btn-primary btn-border btn-block btn-xs mt-5 m-0" target="_blank" href="https://tinstuk.herokuapp.com/">Live App Preview</a>
		</div>
	</div>
</div>
</div>

<div class="col-md-4 col-sm-6 mt-30">
	<a href="/en/courses/automated-posts-on-social-networks">
		<div class="courses-index-box">
			<div class="courses-thumb " id="introduction-course" style="background-image: url('images/banner/ws.gif');">
			</div>

		</div>
	</a>  <div class="course-index-content">
	<h4 class="uppercase mb-5  stukcasts-title text-left ">
		<a class="black" title="Automated Posts on Social Networks" href="/en/courses/automated-posts-on-social-networks">Automated Posts on Social Networks</a>
	</h4>
	<h5 class="course-info truncate-3" style="">Ever wanted to automate your posts through multiple social networks with just 1 click? We'll teach you how to work with the APIs of some of the most popular social networks so you'll use this app everyday yourself :)</h5>
	<div class="course-time">
		<ul>
			<li>3h08min</li>
			<li>31 lectures</li>
			<li><div class="label label-danger codecast-label">advanced</div></li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-right: 5px;">
			<a class="btn btn-primary btn-block btn-xs mt-5 m-0" href="/en/courses/automated-posts-on-social-networks">Learn more</a>
		</div>
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-left: 5px;">
			<a class="btn btn-primary btn-border btn-block btn-xs mt-5 m-0" target="_blank" href="https://stuker1.herokuapp.com/">Live App Preview</a>
		</div>
	</div>
</div>
</div>

<div class="col-md-4 col-sm-6 mt-30">
	<a href="/en/courses/web-scraper">
		<div class="courses-index-box">
			<div class="courses-thumb " id="introduction-course" style="background-image: url('images/banner/nodejs.jpg');">
			</div>

		</div>
	</a>  <div class="course-index-content">
	<h4 class="uppercase mb-5  stukcasts-title text-left ">
		<a class="black" title="Web Scraper" href="/en/courses/web-scraper">Web Scraper</a>
	</h4>
	<h5 class="course-info truncate-3" style="">A web scrapper is tremendously useful whenever you want to gather data from multiple websites and save an enormous amount of manual work. </h5>
	<div class="course-time">
		<ul>
			<li>2h46min</li>
			<li>16 lectures</li>
			<li><div class="label label-warning codecast-label">intermediate</div></li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-right: 5px;">
			<a class="btn btn-primary btn-block btn-xs mt-5 m-0" href="/en/courses/web-scraper">Learn more</a>
		</div>
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-left: 5px;">
			<a class="btn btn-primary btn-border btn-block btn-xs mt-5 m-0" target="_blank" href="https://stukscraper.herokuapp.com">Live App Preview</a>
		</div>
	</div>
</div>
</div>

<div class="col-md-4 col-sm-6 mt-30">
	<a href="/en/courses/crowdfunding-marketplace">
		<div class="courses-index-box">
			<div class="courses-thumb " id="introduction-course" style="background-image: url('images/banner/node.jpg');">
			</div>

		</div>
	</a>  <div class="course-index-content">
	<h4 class="uppercase mb-5  stukcasts-title text-left ">
		<a class="black" title="Crowdfunding Marketplace" href="/en/courses/crowdfunding-marketplace">Crowdfunding Marketplace</a>
	</h4>
	<h5 class="course-info truncate-3" style="">We'll guide you through the main challenges of building a specific type of marketplace where users vote/invest in other users' projects.</h5>
	<div class="course-time">
		<ul>
			<li>6h49min</li>
			<li>32 lectures</li>
			<li><div class="label label-danger codecast-label">advanced</div></li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-right: 5px;">
			<a class="btn btn-primary btn-block btn-xs mt-5 m-0" href="/en/courses/crowdfunding-marketplace">Learn more</a>
		</div>
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-left: 5px;">
			<a class="btn btn-primary btn-border btn-block btn-xs mt-5 m-0" target="_blank" href="https://obscure-island-3279.herokuapp.com/">Live App Preview</a>
		</div>
	</div>
</div>
</div>



<div class="col-md-4 col-sm-6 mt-30">
	<a href="/en/courses/crowdfunding-marketplace">
		<div class="courses-index-box">
			<div class="courses-thumb " id="introduction-course" style="background-image: url('images/banner/nodejs.jpg');">
			</div>

		</div>
	</a>  <div class="course-index-content">
	<h4 class="uppercase mb-5  stukcasts-title text-left ">
		<a class="black" title="Crowdfunding Marketplace" href="/en/courses/crowdfunding-marketplace">Crowdfunding Marketplace</a>
	</h4>
	<h5 class="course-info truncate-3" style="">We'll guide you through the main challenges of building a specific type of marketplace where users vote/invest in other users' projects.</h5>
	<div class="course-time">
		<ul>
			<li>6h49min</li>
			<li>32 lectures</li>
			<li><div class="label label-danger codecast-label">advanced</div></li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-right: 5px;">
			<a class="btn btn-primary btn-block btn-xs mt-5 m-0" href="/en/courses/crowdfunding-marketplace">Learn more</a>
		</div>
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-left: 5px;">
			<a class="btn btn-primary btn-border btn-block btn-xs mt-5 m-0" target="_blank" href="https://obscure-island-3279.herokuapp.com/">Live App Preview</a>
		</div>
	</div>
</div>
</div>






<div class="col-md-4 col-sm-6 mt-30">
	<a href="/en/courses/web-scraper">
		<div class="courses-index-box">
			<div class="courses-thumb " id="introduction-course" style="background-image: url('images/banner/all.jpg');">
			</div>

		</div>
	</a>  <div class="course-index-content">
	<h4 class="uppercase mb-5  stukcasts-title text-left ">
		<a class="black" title="Web Scraper" href="/en/courses/web-scraper">Web Scraper</a>
	</h4>
	<h5 class="course-info truncate-3" style="">A web scrapper is tremendously useful whenever you want to gather data from multiple websites and save an enormous amount of manual work.</h5>
	<div class="course-time">
		<ul>
			<li>2h46min</li>
			<li>16 lectures</li>
			<li><div class="label label-warning codecast-label">intermediate</div></li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-right: 5px;">
			<a class="btn btn-primary btn-block btn-xs mt-5 m-0" href="/en/courses/web-scraper">Learn more</a>
		</div>
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-left: 5px;">
			<a class="btn btn-primary btn-border btn-block btn-xs mt-5 m-0" target="_blank" href="https://stukscraper.herokuapp.com">Live App Preview</a>
		</div>
	</div>
</div>
</div>

<div class="col-md-4 col-sm-6 mt-30">
	<a href="/en/courses/crowdfunding-marketplace">
		<div class="courses-index-box">
			<div class="courses-thumb " id="introduction-course" style="background-image: url('images/banner/grunt.jpg');">
			</div>

		</div>
	</a>  <div class="course-index-content">
	<h4 class="uppercase mb-5  stukcasts-title text-left ">
		<a class="black" title="Crowdfunding Marketplace" href="/en/courses/crowdfunding-marketplace">Crowdfunding Marketplace</a>
	</h4>
	<h5 class="course-info truncate-3" style="">We'll guide you through the main challenges of building a specific type of marketplace where users vote/invest in other users' projects.</h5>
	<div class="course-time">
		<ul>
			<li>6h49min</li>
			<li>32 lectures</li>
			<li><div class="label label-danger codecast-label">advanced</div></li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-right: 5px;">
			<a class="btn btn-primary btn-block btn-xs mt-5 m-0" href="/en/courses/crowdfunding-marketplace">Learn more</a>
		</div>
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-left: 5px;">
			<a class="btn btn-primary btn-border btn-block btn-xs mt-5 m-0" target="_blank" href="https://obscure-island-3279.herokuapp.com/">Live App Preview</a>
		</div>
	</div>
</div>
</div>



<div class="col-md-4 col-sm-6 mt-30">
	<a href="/en/courses/crowdfunding-marketplace">
		<div class="courses-index-box">
			<div class="courses-thumb " id="introduction-course" style="background-image: url('images/banner/html5.jpg');">
			</div>

		</div>
	</a>  <div class="course-index-content">
	<h4 class="uppercase mb-5  stukcasts-title text-left ">
		<a class="black" title="Crowdfunding Marketplace" href="/en/courses/crowdfunding-marketplace">Crowdfunding Marketplace</a>
	</h4>
	<h5 class="course-info truncate-3" style="">We'll guide you through the main challenges of building a specific type of marketplace where users vote/invest in other users' projects.</h5>
	<div class="course-time">
		<ul>
			<li>6h49min</li>
			<li>32 lectures</li>
			<li><div class="label label-danger codecast-label">advanced</div></li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-right: 5px;">
			<a class="btn btn-primary btn-block btn-xs mt-5 m-0" href="/en/courses/crowdfunding-marketplace">Learn more</a>
		</div>
		<div class="col-md-6 col-xs-6 col-sm-6" style="padding-left: 5px;">
			<a class="btn btn-primary btn-border btn-block btn-xs mt-5 m-0" target="_blank" href="https://obscure-island-3279.herokuapp.com/">Live App Preview</a>
		</div>
	</div>
</div>
</div>
