<div data-ui-view>
	<div class="row">
		<h3 class='benefit-header3 common'>
			<span class="glyphicon glyphicon  glyphicon-file "></span> My -
			Documents

		</h3>
		<h5 class="headertxt">Below you can upload, view or delete your
			PDF or JPEG documents.</h5>
		<br />
		<h5 class="headertxt">Select a Reason for Your Upload</h5>


		<div class="col-md-12">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#QHP" data-toggle="tab">QHP</a></li>
					<li class=""><a href="#MEDICAID" data-toggle="tab">MEDICAID</a></li>
					<li class=""><a href="#CHIP" data-toggle="tab">CHIP</a></li>
					<li class=""><a href="#TANF" data-toggle="tab">TANF</a></li>
					<li class=""><a href="#SNAP" data-toggle="tab">SNAP</a></li>
				</ul>
				<div class="tab-content">
					<!-- /.tab-pane -->
					<div class="tab-pane active" id="QHP">

						<div class="row  upload-well well ">
							<div class="col-md-12 col-md-offset-0 "
								id="AccordionUpdatResponse">

								<div class="panel upload-panel  panel-primary ">
									<div class="panel-heading document-heading  document-heading panel-links">
										<a style="color: #2C3E50;"
											class="accordion-toggle  panel-links collapsed"
											data-toggle="collapse" data-parent="#AccordionUpdatResponse"
											href="#collapse01"> &nbsp; Social Security Card </a>

									</div>

									<div id="collapse01" class="panel-collapse collapse "
										aria-expanded="true">
										<div class="panel-body">
											<div class="media accordion-inner">
												<div class="pull-left"></div>
												<div class="media-body responsepanelbody">
													<!-- include page here  -->
													<!--  POC -->
													<div>


													</div>

													<!-- <div ng-controller="MyCtrl" nv-file-drop=""
														uploader="uploader" filters="queueLimit, customFilter">
														<div>
															<div class="row col-md-12">

																<div class="col-md-10 override-col-margin">
																	<div class="col-md-8 override-col-margin">
																		<label class="questionoptioncommon">Add the
																			Social Security Card You Want to Upload for</label>
																	</div>
																	<div class="col-md-4 override-col-margin">
																		<select name="CC809" ng-model="abc"
																			class="selectbox form-control override-form-control"
																			id="selectChildMember">
																			<option ng-if="data.active"
																				class="selectbox form-control"
																				ng-repeat="data in applicationInfo.participants"
																				value="{{data.prtcpFstNm}}">{{data.prtcpFstNm}}</option>
																		</select> <span class=" label label-danger"
																			ng-show="myForm.file.$error.required">required!</span>
																	</div>
																</div>

																<div class="col-md-12" ng-show="uploader.isHTML5">
																	3. nv-file-over uploader="link" over-class="className"
																	<div class="well my-drop-zone" nv-file-over=""
																		uploader="uploader">
																		<div class="center">
																			<h6
																				class="review-txt-bold center questionoptioncommon">
																				Drop file here... <br /> Or <br /> <input
																					type="file" nv-file-select="" uploader="uploader">
																			</h6>

																		</div>
																	</div>
																	<br />
																</div>
															</div>
															<div class="col-md-12">

																<table class="table">
																	<thead>
																		<tr class="review-txt-bold questionoptioncommon">
																			<th>Name</th>
																			<th ng-show="uploader.isHTML5">Size</th>
																			<th ng-show="uploader.isHTML5">Progress</th>
																			<th>Status</th>
																			<th>Actions</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr class="class="review-txt-bold questionoptioncommon"" ng-repeat="item in uploader.queue">
																			<td><strong>{{ item.file.name }}</strong></td>
																			<td ng-show="uploader.isHTML5" nowrap>{{
																				item.file.size/1024/1024|number:2 }} MB</td>
																			<td ng-show="uploader.isHTML5">
																				<div class="progress" style="margin-bottom: 0;">
																					<div class="progress-bar" role="progressbar"
																						ng-style="{ 'width': item.progress + '%' }"></div>
																				</div>
																			</td>
																			<td class="text-center"><span
																				ng-show="item.isSuccess"><i
																					class="glyphicon glyphicon-ok"></i></span> <span
																				ng-show="item.isCancel"><i
																					class="glyphicon glyphicon-ban-circle"></i></span> <span
																				ng-show="item.isError"><i
																					class="glyphicon glyphicon-remove"></i></span></td>
																			<td nowrap>
																				<button type="button" class="btn btn-success btn-xs"
																					ng-click="item.upload()"
																					ng-disabled="item.isReady || item.isUploading || item.isSuccess">
																					<span class="glyphicon glyphicon-upload"></span>
																					Upload
																				</button>
																				<button type="button" class="btn btn-warning btn-xs"
																					ng-click="item.cancel()"
																					ng-disabled="!item.isUploading">
																					<span class="glyphicon glyphicon-ban-circle"></span>
																					Cancel
																				</button>
																				<button type="button" class="btn btn-danger btn-xs"
																					ng-click="item.remove()">
																					<span class="glyphicon glyphicon-trash"></span>
																					Remove
																				</button>
																			</td>
																		</tr>
																	</tbody>
																</table>

																<div>
																	<div>
																		<h6
																			class="review-txt-bold center questionoptioncommon">File
																			progress:</h6>
																		<div class="progress" style="">
																			<div class="progress-bar" role="progressbar"
																				ng-style="{ 'width': uploader.progress + '%' }"></div>
																		</div>
																	</div>
																	<button type="button" style="margin-right: 10px;"
																		class="btn btn-success pull-right btn-s"
																		ng-click="uploader.uploadAll()"
																		ng-disabled="!uploader.getNotUploadedItems().length">
																		<span class="glyphicon glyphicon-upload"></span>
																		Upload
																	</button>
																	<button type="button"
																		class="btn pull-right btn-warning btn-s"
																		ng-click="uploader.cancelAll()"
																		ng-disabled="!uploader.isUploading">
																		<span class="glyphicon glyphicon-ban-circle"></span>
																		Cancel
																	</button>

																</div>

															</div>

														</div>

													</div> -->

												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel upload-panel  panel-primary ">
									<div class="panel-heading document-heading  panel-links">
										<a style="color: #2C3E50;"
											class="accordion-toggle  panel-links collapsed"
											data-toggle="collapse" data-parent="#AccordionUpdatResponse"
											href="#collapse02"> &nbsp; Birth Certificate </a>

									</div>

									<div id="collapse02" class="panel-collapse collapse "
										aria-expanded="true">
										<div class="panel-body">
											<div class="media accordion-inner">
												<div class="pull-left"></div>
												<div class="media-body responsepanelbody">
													<!-- include page here  -->




												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel upload-panel  panel-primary ">
									<div class="panel-heading document-heading  panel-links">
										<a style="color: #2C3E50;"
											class="accordion-toggle  panel-links collapsed"
											data-toggle="collapse" data-parent="#AccordionUpdatResponse"
											href="#collapse03"> &nbsp; Tax Returns</a>

									</div>

									<div id="collapse03" class="panel-collapse collapse "
										aria-expanded="true">
										<div class="panel-body">
											<div class="media accordion-inner">
												<div class="pull-left"></div>
												<div class="media-body responsepanelbody">
													<!-- include page here  -->




												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel upload-panel  panel-primary ">
									<div class="panel-heading document-heading  panel-links">
										<a style="color: #2C3E50;"
											class="accordion-toggle  panel-links collapsed"
											data-toggle="collapse" data-parent="#AccordionUpdatResponse"
											href="#collapse04"> &nbsp;W2's </a>

									</div>

									<div id="collapse04" class="panel-collapse collapse "
										aria-expanded="true">
										<div class="panel-body">
											<div class="media accordion-inner">
												<div class="pull-left"></div>
												<div class="media-body responsepanelbody">
													<!-- include page here  -->




												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="MEDICAID"></div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="CHIP"></div>
					<div class="tab-pane" id="TANF"></div>
					<div class="tab-pane" id="SNAP"></div>

				</div>

			</div>

		</div>
	</div>
</div>
<style>
.panel-primary>.document-heading {
    color: #fff;
    background-color: #dcdcdc;
    border-color: 2px #2C3E50;
}

.my-drop-zone {
	border: dotted 3px lightgray;
	text-align: center;
}

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 100%;
	height: 100px;
	text-align: center;
	/* padding-top: 25px; */
	margin: 10px;
}

.dragover {
	border: 5px dashed blue;
}

.nv-file-over {
	border: dotted 3px red;
} /* Default class applied to drop zones on over */
.another-file-over-class {
	border: dotted 3px green;
}

.myMsgDtl-panel-body {
	background-color: #f2f2f2;
	padding: 0px;
}
</style>
