<div class="col-xs-9 ng-scope" >
			<div class="text-center ng-scope "
				style="">
				<div class="row row-gap-huge">
					<img
						src="">
				</div>
			</div>
			<div class="row row-gap-medium ng-scope">
				<form class="form-horizontal ng-pristine ng-valid ng-valid-email"
					role="form"  style="">
					<!-- maybe make these server messages a directive -->
					<div class="form-group text-center">
						<div class="row " data-ng-show="serverError">
							<div
								class="alert alert-danger col-xs-offset-1 col-xs-9 ng-binding">

							</div>
						</div>
						<div class="row " data-ng-show="serverSuccess">
							<div
								class="alert alert-success col-xs-offset-1 col-xs-9 ng-binding">

							</div>
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{'has-error': contactInfoErrors.setsFirstName || contactInfoErrors.setsLastName}">
						<label for="firstName" class="col-xs-3 control-label">Full
							Name</label>
						<div class="col-xs-3">
							<input type="text"
								class="form-control ng-pristine ng-untouched ng-valid"
								id="firstName" placeholder="First Name"
								data-ng-model="user['first_name']">
						</div>
						<div class="col-xs-3">
							<input type="text"
								class="form-control ng-pristine ng-untouched ng-valid"
								id="lastName" placeholder="Last Name"
								data-ng-model="user['last_name']">
						</div>
						<div class="col-xs-3 form-error">
							<!-- ngRepeat: err in contactInfoErrors.setsFirstName -->
							<!-- ngRepeat: err in contactInfoErrors.setsLastName -->
						</div>
					</div>
					<div class="form-group">
						<label for="nickname" class="col-xs-3 control-label">Nickname</label>
						<div class="col-xs-6">
							<input type="text"
								class="form-control ng-pristine ng-untouched ng-valid"
								id="nickname" placeholder="Nickname"
								data-ng-model="user['nickname']">
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{'has-error': contactInfoErrors.setsEmail}">
						<label for="email" class="col-xs-3 control-label">Email</label>
						<div class="col-xs-6">
							<input type="email"
								class="form-control ng-pristine ng-untouched ng-valid ng-valid-email"
								id="email" placeholder="email"
								data-ng-model="user['email']['address']">
						</div>
						<div class="col-xs-3 form-error">
							<!-- ngRepeat: err in contactInfoErrors.setsEmail -->
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-6">
							<div class="checkbox">
								<label> <input type="checkbox"
									data-ng-model="user['email_preferences']['master_ok']"
									class="ng-pristine ng-untouched ng-valid"> Receive
									Udacity newsletters
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-6">
							<div class="checkbox">
								<label> <input type="checkbox"
									data-ng-model="user['email_preferences']['ok_user_research']"
									class="ng-pristine ng-untouched ng-valid"> Notify me
									for user research opportunities <span class="text-unbreakable">
										<a href="/feedback/signup" target="_blank">Learn more</a>
								</span>
								</label>
							</div>
						</div>
					</div>
					<!-- Disabled for now -->
					<!-- ngIf: false -->
					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-9">
							<button type="submit" class="btn btn-primary"
								data-ng-click="saveContactInfo()"
								data-ng-disabled="saveDisabled">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
