<div class="col-xs-9 ng-scope" ><div class="row row-gap-medium ng-scope">
	<div class="col-xs-12">
		<form class="form-horizontal ng-pristine ng-valid" role="form">
			<!-- maybe make these server messages a directive -->
			<div class="form-group text-center">
				<div class="alert alert-danger col-xs-12 ng-binding ng-hide" data-ng-show="serverError">
					
				</div>
				<div class="alert alert-success col-xs-12 ng-binding ng-hide" data-ng-show="serverSuccess">
					
				</div>
			</div>

			<div class="form-group">
				<label for="video-quality" class="col-xs-3 control-label">Preferred Video Quality</label>
				<div class="col-xs-6">
					<select id="video-quality" class="form-control ng-pristine ng-valid ng-touched" data-ng-options="quality.label for quality in videoQualities" data-ng-model="settings.videoQuality"><option value="object:373" label="Automatic" selected="selected">Automatic</option><option value="object:374" label="360p">360p</option><option value="object:375" label="480p">480p</option><option value="object:376" label="720p">720p</option><option value="object:377" label="1080p">1080p</option></select>
				</div>
			</div>

			<div class="form-group">
				<label for="video-speed" class="col-xs-3 control-label">Preferred Video Speed</label>
				<div class="col-xs-6">
					<select data-ng-disabled="!settings.useHtml5Player || isBrowserIE" id="video-speed" class="form-control ng-pristine ng-untouched ng-valid" type="text" data-ng-options="rate.label for rate in playbackRates" data-ng-model="settings.playbackRate"><option value="object:378" label="0.25x">0.25x</option><option value="object:379" label="0.5x">0.5x</option><option value="object:380" label="Normal" selected="selected">Normal</option><option value="object:381" label="1.5x">1.5x</option><option value="object:382" label="2x">2x</option></select>
				</div>
			</div>

			<div class="form-group">
				<label for="auto-advance" class="col-xs-3 control-label">Auto Advance</label>
				<div class="col-xs-6">
					<div class="checkbox">
						<label>
							<input id="auto-advance" type="checkbox" data-ng-model="settings.autoAdvance" class="ng-pristine ng-untouched ng-valid">
							When a video ends, automatically play the next one.
						</label>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="html5-video-player" class="col-xs-3 control-label">Video Player</label>
				<div class="col-xs-6">
					<div class="checkbox">
						<label>
							<input id="html5-video-player" type="checkbox" data-ng-disabled="isBrowserIE" data-ng-model="settings.useHtml5Player" class="ng-pristine ng-untouched ng-valid">
							Use HTML5 Video Player (Recommended)
						</label>
						<div class="text-muted ng-hide" data-ng-show="isBrowserIE">
							This feature is not available in Internet Explorer.
						</div>
						<div class="text-muted" data-ng-show="settings.useHtml5Player &amp;&amp; !isBrowserIE">
							By default, we use HTML5 for the purpose of supporting audio and video on our website. If you’re having issues viewing course videos and would rather use Adobe Flash, uncheck the box above.
						</div>
						<div class="text-muted ng-hide" data-ng-show="!settings.useHtml5Player &amp;&amp; !isBrowserIE">
							You are currently using Adobe Flash for video playing. This player does not support changing the speed of videos.
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-offset-3 col-xs-9">
					<button type="submit" class="btn btn-primary" data-ng-click="save()" data-ng-disabled="saving">Save</button>
				</div>
			</div>
		</form>
	</div>
</div></div>