	<div ui-view>
<div class="section half-page" style="padding: 0 !important;">

	<div class="how-background how-background-2 bg-dark" id="introduction">
		<div class="color-overlay">
			<div class="container text-center">
				<h1 class="pricing-heading white">Webinar and webcast on different technologies</h1>
				<div class="font-light how-small white">Learn the concepts and create useful stuff at the same time</div>

				<div class="row row-gap-medium">
							<a href="#/codecast/webcast"><span
									class="btn btn-primary btn-lg btn-min-width-sm">
										Recent Webcast</span></a>
										<a href="#/codecast/webcast" amp-log-event="HomePageLearnMore"></a>
								<div class="row row-gap-huge"></div>
							</div>

			</div>
		</div>
	</div>
</div>

<article class="fit-full color-scheme--grey">
	<article class="fit-fixed">

		<div class="row stories  padding-20">
			<div class="col-md-12 grid-col--center grid-col--align-center">
				<h2>CodeHS WebCast</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 grid-col--no--padding grid-col--no-margin">
				<div class="card card--link color-scheme--white">
					<div class="row card__info">
						<span >
							<div>
							<img class="avatar" src="images/man.jpg">
						</div>

					</span>

					<div  class="text-center col-md-12">
						<div class="card__headings">
							<h5 class="text--ellipsis">Tarun Sharma</h5>
							<h4 class="story_card__sub-heading">
								<span class="fa fa-user"></span> New Delhi,India
							</h4>
						</div>
					</div>
					<div  class="card__headings text-center col-md-12">
						<h5>Developer at UHG</h5>
						<h5 class="story_card__sub-heading">
							<span class="new-cc-icon color--secondary icon-marker"></span> tkssharma.github.io
						</h5>
					</div>
					<div class="grid-row card__text text-center col-md-12">
						<div class="grid-col-12">
							<h3>How to Outgrow the Fear of Starting</h3>
						</div>
					</div>
				</div>
				<a href="https://www.codecademy.com/stories/1726" class="link--target "></a>

			</div>
		</div>
	<div class="col-md-4 grid-col--no--padding grid-col--no-margin">
				<div class="card card--link color-scheme--white">
					<div class="row card__info">
							<span >
							<div>
							<img class="avatar" src="images/man.jpg">
						</div>

					</span>


					<div  class="text-center col-md-12">
						<div class="card__headings">
							<h5 class="text--ellipsis">Tarun Sharma</h5>
							<h4 class="story_card__sub-heading">
								<span class="fa fa-user"></span> New Delhi,India
							</h4>
						</div>
					</div>
					<div  class="card__headings text-center col-md-12">
						<h5>Developer at UHG</h5>
						<h5 class="story_card__sub-heading">
							<span class="new-cc-icon color--secondary icon-marker"></span> tkssharma.github.io
						</h5>
					</div>
					<div class="grid-row card__text text-center col-md-12">
						<div class="grid-col-12">
							<h3>How to Outgrow the Fear of Starting</h3>
						</div>
					</div>
				</div>
				<a href="https://www.codecademy.com/stories/1726" class="link--target "></a>

			</div>
		</div>
			<div class="col-md-4 grid-col--no--padding grid-col--no-margin">
				<div class="card card--link color-scheme--white">
					<div class="row card__info">
							<span >
							<div>
							<img class="avatar" src="images/man.jpg">
						</div>

					</span>


					<div  class="text-center col-md-12">
						<div class="card__headings">
							<h5 class="text--ellipsis">Tarun Sharma</h5>
							<h4 class="story_card__sub-heading">
								<span class="fa fa-user"></span> New Delhi,India
							</h4>
						</div>
					</div>
					<div  class="card__headings text-center col-md-12">
						<h5>Developer at UHG</h5>
						<h5 class="story_card__sub-heading">
							<span class="new-cc-icon color--secondary icon-marker"></span> tkssharma.github.io
						</h5>
					</div>
					<div class="grid-row card__text text-center col-md-12">
						<div class="grid-col-12">
							<h3>How to Outgrow the Fear of Starting</h3>
						</div>
					</div>
				</div>
				<a href="https://www.codecademy.com/stories/1726" class="link--target "></a>

			</div>
		</div>
</div>
<div class="row stories  padding-20">
			<div class="col-md-12 grid-col--center grid-col--align-center">
				<h2>More Stories</h2>
			</div>
		</div>
</article>


</article>

<div class=" vintage-bg-2">
	<div class="color-overlay-border vertical-parent">
		<div class="container vertical-child">
			<h3 class="font-light inspire-small">
				Learn Ruby on Rails and other web technologies by creating amazing web apps.
			</h3> <br>
			<h4 class="inspiration-heading">
				Project-based education is the real thing!
			</h4>
		</div>
	</div>
</div>

<div class="section full-page-auto" id="landing-features">
	<div class="container">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="row">
				<div class="col-sm-6 hidden-xs">
					<div class="row courses-padding">
						<div class="col-lg-6 col-sm-6 col-xs-6">
							<a href="/en/courses">
								<div class="courses-box courses-box-mobile">

									<div class="courses-info-box">
										<h3 class="black uppercase mt-15 text-center courses-text uppercase">
											The Fundamentals
										</h3>
										<p class="course-information text-center hidden-xs">
											Build a To-Do List Angular 2
										</p>
									</div>
									<div class="label label-success landing-course-label">
										Beginner
									</div>
								</div>
</a>						</div>
						<div class="col-lg-6 col-sm-6 col-xs-6">
							<a href="/en/courses">
								<div class="courses-box courses-box-mobile">

									<div class="courses-info-box">
										<h3 class="black uppercase mt-15 text-center courses-text">
											2 Sided Marketplace
										</h3>
										<p class="course-information text-center hidden-xs">
											Build an marketplace like Airbnb.
										</p>
									</div>
									<div class="label label-warning landing-course-label">
										Intermediate
									</div>
								</div>
</a>						</div>
						<div class="col-lg-6 col-sm-6 col-xs-6">
							<a href="/en/courses">
								<div class="courses-box courses-box-mobile">

									<div class="courses-info-box">
										<h3 class="black uppercase mt-15 text-center courses-text">
											Social Network
										</h3>
										<p class="course-information text-center hidden-xs">
											Build a social network app.
										</p>
									</div>
									<div class="label label-danger landing-course-label">
										Advanced
									</div>
								</div>
</a>						</div>
						<div class="col-lg-6 col-sm-6 col-xs-6">
							<a href="/en/courses">
								<div class="courses-box courses-box-mobile">

									<div class="courses-info-box">
										<h3 class="black uppercase mt-15 text-center courses-text">
											Directory Website
										</h3>
										<p class="course-information text-center hidden-xs">
											Build a directory website like Yelp.
										</p>
									</div>
									<div class="label label-danger landing-course-label">
										Advanced
									</div>
								</div>
</a>						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class=" courses-height">
						<div>
							<div class="landing-title text-left uppercase">
								START BUILDING REAL WEB APPS
							</div>
							<h4 class="mb-25 landing-subtext font-secondary text-left gray ">
								Simply choose the type of app you want to build and we'll guide you through the whole process with step-by-step tutorials that you can watch anytime, anywhere.
							</h4>
							<div class="text-left mt-25 mb-25">
								<a class="show-more-link" href="/en/courses">
									View the apps you can build <i class="fa fa-caret-right"></i>
</a>							</div>
						</div>
					</div>
				</div>
				</div>


