<div class="intro-headphoto" style="background-image: url(&quot;https://stuk.io/assets/courses/marketplace/header-7cdf09be78bb839eb572529d1f67c539.jpg&quot;);">
	<div class="color-overlay-dark">
		<div class="container text-center">
			<h1 class="heading-sub font-light mt-90 white heading-sub-introcourse">Learn how to build a marketplace using Ruby on Rails</h1>
			<h2 class="uppercase heading-introcourse white mb-30 mt-15">
				Build an online marketplace like Airbnb, Ebay or Elance.
			</h2>
				<div class="button-introcourse">
						<a class="btn btn-primary btn-md btn-width-large btn_marginright" target="_blank" href="https://e-stuk.herokuapp.com/">Live App Preview</a>
								<a class="btn btn-warning btn-md btn-width-large" href="/en/subscriptions/new">Get Started</a>
				</div>
		</div>
	</div>
</div>
<section class="how small-section bg-white" id="intro-course">
  <div class="container">
    <div class="row">
	<div class="col-sm-4 col-single col-xs-12 mb-30">
	    <h6 class="uppercase mb-10">
	      Course estimated completion time</h6>
	    <h5 class="landing-small-info">30 days&nbsp;&nbsp;
	    	<span class="label label-primary">1 hour a day</span>
	      	<br>
	    </h4>
	    <h5 class="landing-small-info">
	    	45 days&nbsp;&nbsp;
	      	<span class="label label-primary label-45minutes">45 minutes a Day</span>
	      	<br>
	    </h4>
	    <h5 class="landing-small-info">
	      	60 days&nbsp;&nbsp;
	      	<span class="label label-primary label-30minutes">30 minutes a Day</span>
	    <br>
	    </h4>
	    <br>
	  	<h6 class="uppercase mb-10">
	    	Course Division Options
	    </h6>
	  	<h5 class="landing-small-info">
	    	<span class="label label-default">Advanced</span>&nbsp;
	    	Only the terminal commands and source code additions
		</h4>
		<hr class="hr-nomargin">
	  	<h5 class="landing-small-info">
	  		<span class="label label-default">Beginner</span>&nbsp;
	    	Advanced + Important concept explanations + Rails Fundamentals on the subject
	    </h4>
	    <br>
	</div>
	<div class="col-sm-4 col-xs-12 mb-20">
		<span class="icon-book-open icon-how color-primary hidden-xs"> </span>
		<h4 class="uppercase mb-20">Description</h4>
		<h5 class="landing-small-info">
			Do you have an amazing business idea for a marketplace? We teach you step by step how build web platform where people can exchange goods or services.
			<br><br>
		 	We advise this course as a follow-up to the Rails Fundamentals course as you'll become acquainted with many new interesting concepts and will develop a very useful and popular type of platform: a marketplace website like <a href="http://www.airbnb.com" target="_blank">Airbnb.com</a>
		</h4>
	</div>
	<div class="col-sm-4 col-xs-12 col-single">
	     <h6 class="uppercase mb-10"> Get acquainted with the tools</h6> <h5 class="landing-small-info">Payments<br>State Machines<br>Stripe SDK<br>Environment Variables<br>Friendly URLs<br>Amazon S3 SDK<br>Authorisations<br>File Attachments<br>Validations</h4>
	</div>
</div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
        <div class="row">
  <div class="col-lg-12">
    <div class="title-left-small uppercase text-center mt-20">
      Course Overview<span class="text-point gray">.</span>
    </div>
    <h2 class="mb-15 serif text-center gray header-subtitle">2 Sided Marketplace</h2>
    <div class="line-section-gray mt-20 mb-30"></div>
  </div>
</div>
  <div class="lecture-section" id="91">
    <div class="pd-15">
      The Marketplace
      <span class="font-light">
        (02:16)
      </span>
    </div>
  </div>
      <div class="lecture-box ">
  <div class="pd-15 ">

    <div style="padding:1em;margin:-.5em;">

        <a data-no-turbolink="true" class="truncate-1 lecture-text black" style="padding: 0px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 1;" href="/en/courses/2-sided-marketplace/steps/introduction">
          Introduction (02:16) <span class="font-secondary gray">| Introduction</span>
</a>

    </div>
  </div>
</div>

  <div class="lecture-section" id="92">
    <div class="pd-15">
      Planning
      <span class="font-light">
        (25:26)
      </span>
    </div>
  </div>
      <div class="lecture-box ">
  <div class="pd-15 ">

    <div style="padding:1em;margin:-.5em;">

        <a data-no-turbolink="true" class="truncate-1 lecture-text black" style="padding: 0px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 1;" href="/en/courses/2-sided-marketplace/steps/designing-the-landing-page">
          Designing the Landing Page (06:26) <span class="font-secondary gray">| Designing the Landing Page</span>
</a>

    </div>
  </div>
</div>

      <div class="lecture-box ">
  <div class="pd-15 ">

    <div style="padding:1em;margin:-.5em;">

        <a data-no-turbolink="true" class="truncate-1 lecture-text black" style="padding: 0px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 1;" href="/en/courses/2-sided-marketplace/steps/designing-the-books-index">
          Designing the Books Index (01:11) <span class="font-secondary gray">| Designing the Books Index</span>
</a>

    </div>
  </div>
</div>

      <div class="lecture-box ">
  <div class="pd-15 ">

    <div style="padding:1em;margin:-.5em;">

        <a data-no-turbolink="true" class="truncate-1 lecture-text black" style="padding: 0px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 1;" href="/en/courses/2-sided-marketplace/steps/designing-the-book">
          Designing the Book (02:29) <span class="font-secondary gray">| Designing the Book</span>
</a>

    </div>
  </div>
</div>

      <div class="lecture-box ">
  <div class="pd-15 ">

    <div style="padding:1em;margin:-.5em;">

        <a data-no-turbolink="true" class="truncate-1 lecture-text black" style="padding: 0px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 1;" href="/en/courses/2-sided-marketplace/steps/success!">
          Success! (01:10) <span class="font-secondary gray">| Success!</span>
</a>

    </div>
  </div>
</div>

      <div class="lecture-box ">
  <div class="pd-15 ">

    <div style="padding:1em;margin:-.5em;">

        <a data-no-turbolink="true" class="truncate-1 lecture-text black" style="padding: 0px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 1;" href="/en/courses/2-sided-marketplace/steps/designing-the-dashboard">
          Designing the Dashboard (05:35) <span class="font-secondary gray">| Designing the Dashboard</span>
</a>

    </div>
  </div>
</div>


</section>
