	<div class="section half-page ng-scope" style="padding: 0 !important;">
	<div class="welcome-background bg-dark" id="introduction">
		<div class="vertical-parent">
			<div class="vertical-child">
				<div class="color-overlay">
					<div class="container">

						<h1 class="pricing-heading pricing-heading-2">
							<span class="font-numbers" id="el">Start</span> learning Today
							<div class="font-light how-small-pricing white">Learn something new everyday</div>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section row ">
	<div class="col-md-12" data-sort-by="progress, completed" >
		<div class="col-md-4 filter-level-advanced filter-role-admin filter-product-appcloud filter-tag-applogic filter-tag-security filter-tag-tools filter-tag-lightning filter-tag-integration" title="Admin Advanced" >
			<div class="trail-module-item trailhead-item trailhead-item-tile trailhead-item-tile-trail" id="trail-force_com_admin_advanced">
				<div class="module-header module-padding clearfix" style="background-color: #f2613f">
					<div class="module-icon pull-left">
						<img src="https://developer.salesforce.com/resource/images/trailhead/trails/trailhead_trail_admin_advanced.png">
					</div>
					<div class="module-bottom text-right">
						<div class="module-info">
							<ul class="inline trailhead-progress trailhead-progress-inline hidden">
								<li>
									<span class="progress-amount">
										0%
									</span>
								</li>
								<li>
									<div class="progress progress-info">
										<div class="bar"></div>
									</div>
								</li>
							</ul>
							<div class="trailhead-progress-completed">
								<i class="icon-completed"></i>
								<span class="progress-time-text">
									Trail completed
								</span>
							</div>
							<div class="progress-time-text progress-remaining">
								4 hrs 55 mins
							</div>
							<div class="progress-time-text">
								3 Modules

							</div>
						</div>
					</div>
				</div>
				<div class="module-content module-padding">
					<a class="module-title trail-title" href="/trailhead/trail/force_com_admin_advanced">Admin Advanced</a>
					<div class="module-description">Reach all star admin status by tackling more advanced Salesforce
						features.</div>
						<div class="module-tags text-right">
							Advanced | Admin

						</div>
					</div>
				</div>

			</div>
			<div class="col-md-4 filter-level-beginner filter-role-admin filter-product-appcloud filter-tag-general filter-tag-force filter-tag-database filter-tag-tools filter-tag-data-management filter-tag-ui filter-tag-s1mobile filter-tag-chatter filter-tag-reports" title="Admin Beginner" >
				<div class="trail-module-item trailhead-item trailhead-item-tile trailhead-item-tile-trail" id="trail-force_com_admin_beginner">
					<div class="module-header module-padding clearfix" style="background-color: #EE8A21">
						<div class="module-icon pull-left">
							<img src="https://res.cloudinary.com/hy4kyit2a/image/upload/v1431044903/2015-Trailhead-trail-beginner_admin-transparent_1_gboxjw.png">
						</div>
						<div class="module-bottom text-right">
							<div class="module-info">
								<ul class="inline trailhead-progress trailhead-progress-inline hidden">
									<li>
										<span class="progress-amount">
											0%
										</span>
									</li>
									<li>
										<div class="progress progress-info">
											<div class="bar"></div>
										</div>
									</li>
								</ul>
								<div class="trailhead-progress-completed">
									<i class="icon-completed"></i>
									<span class="progress-time-text">
										Trail completed
									</span>
								</div>
								<div class="progress-time-text progress-remaining">
									8 hrs 45 mins
								</div>
								<div class="progress-time-text">
									7 Modules

								</div>
							</div>
						</div>
					</div>
					<div class="module-content module-padding">
						<a class="module-title trail-title" href="/trailhead/trail/force_com_admin_beginner">Admin Beginner</a>
						<div class="module-description">Start your #AwesomeAdmin journey by learning the basics of customizing Salesforce.</div>
						<div class="module-tags text-right">
							Beginner | Admin

						</div>
					</div>
				</div>

			</div>
			<div class="col-md-4 filter-level-intermediate filter-role-admin filter-product-appcloud filter-tag-applogic filter-tag-security filter-tag-lightning filter-tag-alm" title="Admin Intermediate" >
				<div class="trail-module-item trailhead-item trailhead-item-tile trailhead-item-tile-trail" id="trail-force_com_admin_intermediate">
					<div class="module-header module-padding clearfix" style="background-color: #00954d">
						<div class="module-icon pull-left">
							<img src="https://res.cloudinary.com/hy4kyit2a/image/upload/v1430866899/2015-Trailhead-trail-intermediate_admin-transparent_fxpioo.png">
						</div>
						<div class="module-bottom text-right">
							<div class="module-info">
								<ul class="inline trailhead-progress trailhead-progress-inline hidden">
									<li>
										<span class="progress-amount">
											0%
										</span>
									</li>
									<li>
										<div class="progress progress-info">
											<div class="bar"></div>
										</div>
									</li>
								</ul>
								<div class="trailhead-progress-completed">
									<i class="icon-completed"></i>
									<span class="progress-time-text">
										Trail completed
									</span>
								</div>
								<div class="progress-time-text progress-remaining">
									5 hrs 55 mins
								</div>
								<div class="progress-time-text">
									5 Modules

								</div>
							</div>
						</div>
					</div>
					<div class="module-content module-padding">
						<a class="module-title trail-title" href="/trailhead/trail/force_com_admin_intermediate">Admin Intermediate</a>
						<div class="module-description">Supercharge your skills and apps by using point-and-click tools to solve common business needs.</div>
						<div class="module-tags text-right">
							Intermediate | Admin

						</div>
					</div>
				</div>

			</div>
			<div class="col-md-4 filter-level-intermediate filter-role-dev filter-product-appcloud filter-product-lightningex filter-tag-lightning filter-tag-crm filter-tag-pages filter-tag-ui filter-tag-applogic filter-tag-apex" title="Develop for Lightning Experience" >
				<div class="trail-module-item trailhead-item trailhead-item-tile trailhead-item-tile-trail" id="trail-lex_dev">
					<div class="module-header module-padding clearfix" style="background-color: #3463af">
						<div class="module-icon pull-left">
							<img src="https://developer.salesforce.com/resource/images/trailhead/trails/trailhead_trail_developer_lightning_experience.png">
						</div>
						<div class="module-bottom text-right">
							<div class="module-info">
								<ul class="inline trailhead-progress trailhead-progress-inline hidden">
									<li>
										<span class="progress-amount">
											0%
										</span>
									</li>
									<li>
										<div class="progress progress-info">
											<div class="bar"></div>
										</div>
									</li>
								</ul>
								<div class="trailhead-progress-completed">
									<i class="icon-completed"></i>
									<span class="progress-time-text">
										Trail completed
									</span>
								</div>
								<div class="progress-time-text progress-remaining">
									10 hrs 35 mins
								</div>
								<div class="progress-time-text">
									5 Modules

								</div>
							</div>
						</div>
					</div>
					<div class="module-content module-padding">
						<a class="module-title trail-title" href="/trailhead/trail/lex_dev">Develop for Lightning Experience</a>
						<div class="module-description">Build apps fast for Lightning Experience with Visualforce, components, and new design resources.</div>
						<div class="module-tags text-right">
							Intermediate | Developer

						</div>
					</div>
				</div>

			</div>
			<div class="col-md-4 filter-level-advanced filter-role-dev filter-product-appcloud filter-tag-mobile" title="Develop with Mobile SDK" >
				<div class="trail-module-item trailhead-item trailhead-item-tile trailhead-item-tile-trail" id="trail-mobile_sdk_intro">
					<div class="module-header module-padding clearfix" style="background-color: #179CD8">
						<div class="module-icon pull-left">
							<img src="https://res.cloudinary.com/hy4kyit2a/image/upload/2015-Trailhead-trail-mobileSDK-transparent.png">
						</div>
						<div class="module-bottom text-right">
							<div class="module-info">
								<ul class="inline trailhead-progress trailhead-progress-inline hidden">
									<li>
										<span class="progress-amount">
											0%
										</span>
									</li>
									<li>
										<div class="progress progress-info">
											<div class="bar"></div>
										</div>
									</li>
								</ul>
								<div class="trailhead-progress-completed">
									<i class="icon-completed"></i>
									<span class="progress-time-text">
										Trail completed
									</span>
								</div>
								<div class="progress-time-text progress-remaining">
									6 hrs 50 mins
								</div>
								<div class="progress-time-text">
									5 Modules

								</div>
							</div>
						</div>
					</div>
					<div class="module-content module-padding">
						<a class="module-title trail-title" href="/trailhead/trail/mobile_sdk_intro">Develop with Mobile SDK</a>
						<div class="module-description">Create your own iOS, Android, or hybrid mobile apps powered by the Salesforce App Cloud.</div>
						<div class="module-tags text-right">
							Advanced | Developer

						</div>
					</div>
				</div>

			</div>
			<div class="col-md-4 filter-level-beginner filter-role-dev filter-product-appcloud filter-tag-general filter-tag-force filter-tag-database filter-tag-tools filter-tag-data-management filter-tag-security filter-tag-applogic filter-tag-lightning filter-tag-s1mobile filter-tag-ui filter-tag-apex filter-tag-ql filter-tag-utest filter-tag-pages" title="Developer Beginner">
				<div class="trail-module-item trailhead-item trailhead-item-tile trailhead-item-tile-trail" id="trail-force_com_dev_beginner">
					<div class="module-header module-padding clearfix" style="background-color: #e03d3d">
						<div class="module-icon pull-left">
							<img src="https://res.cloudinary.com/hy4kyit2a/image/upload/v1430866899/2015-Trailhead-trail-beginner_dev-transparent_napb9s.png">
						</div>
						<div class="module-bottom text-right">
							<div class="module-info">
								<ul class="inline trailhead-progress trailhead-progress-inline hidden">
									<li>
										<span class="progress-amount">
											0%
										</span>
									</li>
									<li>
										<div class="progress progress-info">
											<div class="bar"></div>
										</div>
									</li>
								</ul>
								<div class="trailhead-progress-completed">
									<i class="icon-completed"></i>
									<span class="progress-time-text">
										Trail completed
									</span>
								</div>
								<div class="progress-time-text progress-remaining">
									15 hrs
								</div>
								<div class="progress-time-text">
									11 Modules

								</div>
							</div>
						</div>
					</div>
					<div class="module-content module-padding">
						<a class="module-title trail-title" href="/trailhead/trail/force_com_dev_beginner">Developer Beginner</a>
						<div class="module-description">Leverage your existing development skills to build apps fast on the Salesforce App Cloud.</div>
						<div class="module-tags text-right">
							Beginner | Developer

						</div>
					</div>
				</div>

			</div>
			<div class="col-md-4 filter-level-intermediate filter-role-dev filter-product-appcloud filter-tag-pages filter-tag-s1mobile filter-tag-applogic filter-tag-lightning filter-tag-ui filter-tag-apex filter-tag-integration filter-tag-alm filter-tag-tools filter-tag-security filter-tag-partner" title="Developer Intermediate" style="position: absolute; left: 0px; top: 300px;">
				<div class="trail-module-item trailhead-item trailhead-item-tile trailhead-item-tile-trail" id="trail-force_com_dev_intermediate">
					<div class="module-header module-padding clearfix" style="background-color: #6c2a84">
						<div class="module-icon pull-left">
							<img src="https://res.cloudinary.com/hy4kyit2a/image/upload/v1430866900/2015-Trailhead-trail-adv_dev-transparent_pgy1bf.png">
						</div>
						<div class="module-bottom text-right">
							<div class="module-info">
								<ul class="inline trailhead-progress trailhead-progress-inline hidden">
									<li>
										<span class="progress-amount">
											0%
										</span>
									</li>
									<li>
										<div class="progress progress-info">
											<div class="bar"></div>
										</div>
									</li>
								</ul>
								<div class="trailhead-progress-completed">
									<i class="icon-completed"></i>
									<span class="progress-time-text">
										Trail completed
									</span>
								</div>
								<div class="progress-time-text progress-remaining">
									14 hrs 5 mins
								</div>
								<div class="progress-time-text">
									7 Modules

								</div>
							</div>
						</div>
					</div>
					<div class="module-content module-padding">
						<a class="module-title trail-title" href="/trailhead/trail/force_com_dev_intermediate">Developer Intermediate</a>
						<div class="module-description">Take your apps to the next level with powerful integration and mobile tools.</div>
						<div class="module-tags text-right">
							Intermediate | Developer

						</div>
					</div>
				</div>

			</div>
			<div class="col-md-4 filter-level-beginner filter-role-admin filter-role-user filter-product-analyticscloud filter-tag-analytics filter-tag-reports" title="Explore with Wave Analytics" style=" ">
				<div class="trail-module-item trailhead-item trailhead-item-tile trailhead-item-tile-trail" id="trail-wave_analytics_explorer">
					<div class="module-header module-padding clearfix" style="background-color: #0fb1a7">
						<div class="module-icon pull-left">
							<img src="https://developer.salesforce.com/resource/images/trailhead/trails/trailhead_trail_analytics.png">
						</div>
						<div class="module-bottom text-right">
							<div class="module-info">
								<ul class="inline trailhead-progress trailhead-progress-inline hidden">
									<li>
										<span class="progress-amount">
											0%
										</span>
									</li>
									<li>
										<div class="progress progress-info">
											<div class="bar"></div>
										</div>
									</li>
								</ul>
								<div class="trailhead-progress-completed">
									<i class="icon-completed"></i>
									<span class="progress-time-text">
										Trail completed
									</span>
								</div>
								<div class="progress-time-text progress-remaining">
									4 hrs 15 mins
								</div>
								<div class="progress-time-text">
									3 Modules

								</div>
							</div>
						</div>
					</div>
					<div class="module-content module-padding">
						<a class="module-title trail-title" href="/trailhead/trail/wave_analytics_explorer">Explore with Wave Analytics</a>
						<div class="module-description">Build mobile-first Wave Analytics apps to help you answer any question about your
							business.</div>
							<div class="module-tags text-right">
								Beginner | Admin,  Business User

							</div>
						</div>
					</div>

				</div>
				<div class="col-md-4 filter-level-beginner filter-role-admin filter-product-lightningex filter-tag-lightning filter-tag-crm filter-tag-security filter-tag-data-management filter-tag-chatter filter-tag-reports filter-tag-tools filter-tag-alm" title="Get Started with Lightning Experience" style="; ">
					<div class="trail-module-item trailhead-item trailhead-item-tile trailhead-item-tile-trail" id="trail-lex_admin_implementation">
						<div class="module-header module-padding clearfix" style="background-color: #f9a464">
							<div class="module-icon pull-left">
								<img src="https://developer.salesforce.com/resource/images/trailhead/trails/trailhead_trail_admin_lightning_experience.png">
							</div>
							<div class="module-bottom text-right">
								<div class="module-info">
									<ul class="inline trailhead-progress trailhead-progress-inline hidden">
										<li>
											<span class="progress-amount">
												0%
											</span>
										</li>
										<li>
											<div class="progress progress-info">
												<div class="bar"></div>
											</div>
										</li>
									</ul>
									<div class="trailhead-progress-completed">
										<i class="icon-completed"></i>
										<span class="progress-time-text">
											Trail completed
										</span>
									</div>
									<div class="progress-time-text progress-remaining">
										7 hrs 15 mins
									</div>
									<div class="progress-time-text">
										7 Modules

									</div>
								</div>
							</div>
						</div>
						<div class="module-content module-padding">
							<a class="module-title trail-title" href="/trailhead/trail/lex_admin_implementation">Get Started with Lightning Experience</a>
							<div class="module-description">Start your journey to becoming a new Salesforce Admin with the new Lightning Experience.</div>
							<div class="module-tags text-right">
								Beginner | Admin

							</div>
						</div>
					</div>

				</div>
				<div class="col-md-4 filter-level-beginner filter-role-admin filter-role-user filter-product-sales filter-tag-crm filter-tag-general" title="Learn CRM Essentials" >
					<div class="trail-module-item trailhead-item trailhead-item-tile trailhead-item-tile-trail" id="trail-getting_started_crm_basics">
						<div class="module-header module-padding clearfix" style="background-color: #f7c90e">
							<div class="module-icon pull-left">
								<img src="https://developer.salesforce.com/resource/images/trailhead/trails/trailhead_trail_admin_crm.png">
							</div>
							<div class="module-bottom text-right">
								<div class="module-info">
									<ul class="inline trailhead-progress trailhead-progress-inline hidden">
										<li>
											<span class="progress-amount">
												0%
											</span>
										</li>
										<li>
											<div class="progress progress-info">
												<div class="bar"></div>
											</div>
										</li>
									</ul>
									<div class="trailhead-progress-completed">
										<i class="icon-completed"></i>
										<span class="progress-time-text">
											Trail completed
										</span>
									</div>
									<div class="progress-time-text progress-remaining">
										3 hrs 35 mins
									</div>
									<div class="progress-time-text">
										4 Modules

									</div>
								</div>
							</div>
						</div>
						<div class="module-content module-padding">
							<a class="module-title trail-title" href="/trailhead/trail/getting_started_crm_basics">Learn CRM Essentials</a>
							<div class="module-description">Understand Salesforce and learn how to navigate, customize, and manage basic CRM features.</div>
							<div class="module-tags text-right">
								Beginner | Admin,  Business User

							</div>
						</div>
					</div>

				</div>
				<div class="col-md-4 filter-level-beginner filter-role-admin filter-product-sales filter-product-appcloud filter-tag-nonprofit filter-tag-general" title="Manage Fundraising for Nonprofits" >
					<div class="trail-module-item trailhead-item trailhead-item-tile trailhead-item-tile-trail" id="trail-nonprofit_fundraising">
						<div class="module-header module-padding clearfix" style="background-color: #7dcbd6">
							<div class="module-icon pull-left">
								<img src="https://developer.salesforce.com/resource/images/trailhead/trails/trailhead_trail_nonprofit.png">
							</div>
							<div class="module-bottom text-right">
								<div class="module-info">
									<ul class="inline trailhead-progress trailhead-progress-inline hidden">
										<li>
											<span class="progress-amount">
												0%
											</span>
										</li>
										<li>
											<div class="progress progress-info">
												<div class="bar"></div>
											</div>
										</li>
									</ul>
									<div class="trailhead-progress-completed">
										<i class="icon-completed"></i>
										<span class="progress-time-text">
											Trail completed
										</span>
									</div>
									<div class="progress-time-text progress-remaining">
										3 hrs 35 mins
									</div>
									<div class="progress-time-text">
										2 Modules

									</div>
								</div>
							</div>
						</div>
						<div class="module-content module-padding">
							<a class="module-title trail-title" href="/trailhead/trail/nonprofit_fundraising">Manage Fundraising for Nonprofits</a>
							<div class="module-description">Learn how Salesforce can help you better manage your donations, grants, volunteers,
								and events.</div>
								<div class="module-tags text-right">
									Beginner | Admin

								</div>
							</div>
						</div>

					</div>
					<div class="col-md-4 filter-level-intermediate filter-role-admin filter-product-sales filter-product-lightningex filter-tag-lightning filter-tag-crm filter-tag-ui filter-tag-alm" title="Migrate to Lightning Experience" >
						<div class="trail-module-item trailhead-item trailhead-item-tile trailhead-item-tile-trail" id="trail-lex_admin_migration">
							<div class="module-header module-padding clearfix" style="background-color: #686eb3">
								<div class="module-icon pull-left">
									<img src="https://developer.salesforce.com/resource/images/trailhead/trails/trailhead_trail_admin_lightning_experience_migration.png">
								</div>
								<div class="module-bottom text-right">
									<div class="module-info">
										<ul class="inline trailhead-progress trailhead-progress-inline hidden">
											<li>
												<span class="progress-amount">
													0%
												</span>
											</li>
											<li>
												<div class="progress progress-info">
													<div class="bar"></div>
												</div>
											</li>
										</ul>
										<div class="trailhead-progress-completed">
											<i class="icon-completed"></i>
											<span class="progress-time-text">
												Trail completed
											</span>
										</div>
										<div class="progress-time-text progress-remaining">
											3 hrs 45 mins
										</div>
										<div class="progress-time-text">
											4 Modules

										</div>
									</div>
								</div>
							</div>
							<div class="module-content module-padding">
								<a class="module-title trail-title" href="/trailhead/trail/lex_admin_migration">Migrate to Lightning Experience</a>
								<div class="module-description">Increase the productivity of your sales team by migrating your existing org to the new Lightning Experience.</div>
								<div class="module-tags text-right">
									Intermediate | Admin

								</div>
							</div>
						</div>

					</div>
					<div class="col-md-4 filter-level-beginner filter-role-user filter-product-sales filter-product-lightningex filter-tag-lightning" title="Sell Lightning Fast with Salesforce" >
						<div class="trail-module-item trailhead-item trailhead-item-tile trailhead-item-tile-trail" id="trail-lex_end_user">
							<div class="module-header module-padding clearfix" style="background-color: #58bc70">
								<div class="module-icon pull-left">
									<img src="https://developer.salesforce.com/resource/images/trailhead/trails/trailhead_trail_sales_rep_lightning_experience.png">
								</div>
								<div class="module-bottom text-right">
									<div class="module-info">
										<ul class="inline trailhead-progress trailhead-progress-inline hidden">
											<li>
												<span class="progress-amount">
													0%
												</span>
											</li>
											<li>
												<div class="progress progress-info">
													<div class="bar"></div>
												</div>
											</li>
										</ul>
										<div class="trailhead-progress-completed">
											<i class="icon-completed"></i>
											<span class="progress-time-text">
												Trail completed
											</span>
										</div>
										<div class="progress-time-text progress-remaining">
											1 hr 55 mins
										</div>
										<div class="progress-time-text">
											2 Modules

										</div>
									</div>
								</div>
							</div>
							<div class="module-content module-padding">
								<a class="module-title trail-title" href="/trailhead/trail/lex_end_user">Sell Lightning Fast with Salesforce</a>
								<div class="module-description">Learn how to use the new Salesforce to sell lightning fast in as few clicks as possible.</div>
								<div class="module-tags text-right">
									Beginner | Business User

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
