<div class="super-header-wrapper section-inverse section-slim">
	<h1 class="h1-text">gennext Free Online Courses</h1>
	<!-- Banner background -->
	<img
	src=""
	class="black-hole">
	<div class="super-header image-homepage-banner-cast ng-scope">
		<div class="container">
			<div class="super-header-content row">
				<div class="col-xs-12 text-inverse">
					<div class="row row-gap-huge"></div>
					<div class="row row-gap-huge"></div>
					<section class="sliding-text-wrapper">
						<div class="stationary-text-top">Welcome to Webcast on Angular 2 </div>

						<div class="row row-gap-medium">
							<div class="stationary-text-bottom"> Learn Angular 2.0 with TypeScript</div>
							<div class="row row-gap-huge"></div>

							<div class="row row-gap-huge"></div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section full-page-auto" id="landing-features">
	<div class="container">
		<div class="col-sm-12  col-md-12">
			<div class="row">
				<div class="col-sm-12 col-md-8 col-lg-8  hidden-xs">
					<div class="row courses-padding">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


							<div class="lesson-without-playlist-holder">
								<div class="lessons-frame-holder">
									<div class=" lessons-frame ">



										<section class="text-center">
											<div class=" videoWrapper">
												<iframe height="100%" width="100%" ng-src="https://www.youtube.com/embed/MuPW017Tmwc" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/MuPW017Tmwc"></iframe>


											</div>

										</section>

									</div>
								</div>
								<!-- lessons-frame-holder -->
							</div>


						</div>
						</div>
						</div>


						<div class="col-sm-4 col-lg-4 col-md-4">
							<div class=" courses-height">
								<div>
									<div class="landing-title text-left uppercase">
										START BUILDING REAL WEB APPS
									</div>
									<h4 class="mb-25 landing-subtext font-secondary text-left gray ">
										Simply choose the type of app you want to build and we'll guide you through the whole process with step-by-step tutorials that you can watch anytime, anywhere.
									</h4>
									<div class="text-left mt-25 mb-25">
										<a class="show-more-link" href="/en/courses">
											View the apps you can build <i class="fa fa-caret-right"></i>
										</a>                            </div>
									</div>
								</div>
							</div>
						</div>


					</div></div></div>
