<div class="container-fluid">
	<div role="tabpanel " class="row equal">
		<div class="col-lg-2 col-md-2 col-sm-3 column-style col-xs-12 override-col-margin ">
			<ul class="nav  nav-stacked " role="tablist"
			id="non-printable">
			<li role="presentation"
			ui-sref="myaccount.myaccounttabs.password"
			ui-sref-active="active"><a
			ui-sref="myaccount.myaccounttabs.password"
			aria-controls="questions" role="tab">
			<table>
				<tbody>
					<tr>
						<td><i class="fa-cutlery fa vertical-nav-icon-enabled"></i></td>
						<td class="spacing-table-td leftnavcommon">Basic Info</td>
					</tr>
				</tbody>
			</table>
		</a></li>

		<li role="presentation" ui-sref="hostregister.registertabs.profile"
		ui-sref-active="active"><a
		ui-sref="hostregister.registertabs.profile" ui-sref-active="active"
		aria-controls="questions" data-ng-click="toggleTabs()" role="tab">
		<table>
			<tbody>
				<tr>
					<td><i class="fa-user fa vertical-nav-icon-enabled"></i></td>
					<td class="spacing-table-td leftnavcommon">About You</td>
				</tr>
			</tbody>
		</table>
	</a></li>


	<li role="presentation" ui-sref="hostregister.registertabs.menu"
	ui-sref-active="active"><a
	ui-sref="hostregister.registertabs.menu" ui-sref-active="active"
	aria-controls="questions" data-ng-click="toggleTabs()" role="tab">
	<table>
		<tbody>
			<tr>
				<td><i class=" fa fa-comment  vertical-nav-icon-enabled"></i></td>
				<td class="spacing-table-td leftnavcommon">Reviews</td>
			</tr>
		</tbody>
	</table>
</a></li>
<li role="presentation" ui-sref="hostregister.registertabs.photo"
ui-sref-active="active"><a
ui-sref="hostregister.registertabs.photo" ui-sref-active="active"
aria-controls="questions" data-ng-click="toggleTabs()" role="tab">
<table>
	<tbody>
		<tr>
			<td><i class="fa fa-inbox vertical-nav-icon-enabled"></i></td>
			<td class="spacing-table-td leftnavcommon">Inbox</td>
		</tr>
	</tbody>
</table>
</a></li>
<li role="presentation" ui-sref="hostregister.registertabs.date"
ui-sref-active="active"><a
ui-sref="hostregister.registertabs.date" ui-sref-active="active"
aria-controls="questions" data-ng-click="toggleTabs()" role="tab">
<table>
	<tbody>
		<tr>
			<td><i class="fa fa-bell  vertical-nav-icon-enabled"></i></td>
			<td class="spacing-table-td leftnavcommon">Notifications</td>
		</tr>
	</tbody>
</table>
</a></li>

<li role="presentation" ui-sref="hostregister.registertabs.location"
ui-sref-active="active"><a
ui-sref="hostregister.registertabs.location"
ui-sref-active="active" aria-controls="questions"
data-ng-click="toggleTabs()" role="tab">
<table>
	<tbody>
		<tr>
			<td><i class="fa fa-map-marker vertical-nav-icon-enabled"></i></td>
			<td class="spacing-table-td leftnavcommon">Location
				details</td>
			</tr>
		</tbody>
	</table>
</a></li>
<li role="presentation" ui-sref="hostregister.registertabs.location"
ui-sref-active="active"><a
ui-sref="hostregister.registertabs.location"
ui-sref-active="active" aria-controls="questions"
data-ng-click="toggleTabs()" role="tab">
<table>
	<tbody>
		<tr>
			<td><i class="fa fa-map-marker vertical-nav-icon-enabled"></i></td>
			<td class="spacing-table-td leftnavcommon">Location
				details</td>
			</tr>
		</tbody>
	</table>
</a></li>
<li role="presentation" ui-sref="hostregister.registertabs.location"
ui-sref-active="active"><a
ui-sref="hostregister.registertabs.location"
ui-sref-active="active" aria-controls="questions"
data-ng-click="toggleTabs()" role="tab">
<table>
	<tbody>
		<tr>
			<td><i class="fa fa-map-marker vertical-nav-icon-enabled"></i></td>
			<td class="spacing-table-td leftnavcommon">Location
				details</td>
			</tr>
		</tbody>
	</table>
</a></li>
</ul>
</div>
<div class="col-lg-10 col-md-10 col-sm-9 override-col-margin col-xs-12 ">
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active main-page-container" id="questions" >
			<div data-ui-view></div>

		</div>
	</div>
</div>


<!-- List group -->

</div>
</div>
