
<div class="row row-gap-medium ng-scope">
	<h3 data-ng-hide="user['_has_password']" class="text-center">
		Create new password
	</h3>
	<form class="form-horizontal ng-pristine ng-valid" role="form">
		<!-- maybe make these server messages a directive -->
		<div class="form-group text-center">
			<div class="alert alert-danger col-xs-12 ng-binding ng-hide" data-ng-show="serverError">

			</div>
			<div class="alert alert-success col-xs-12 ng-binding ng-hide" data-ng-show="serverSuccess">

			</div>
		</div>
		<div class="form-group" data-ng-class="{'has-error': passwordErrors.setsCurrPass}" data-ng-show="user['_has_password']">
			<label for="currentPassword" class="col-xs-3 control-label">Current Password</label>
			<div class="col-xs-6">
				<input type="password" class="form-control ng-pristine ng-untouched ng-valid" id="currentPassword" placeholder="" data-ng-model="currentPassword">
			</div>
			<div class="col-xs-3 form-error">
				<!-- ngRepeat: err in passwordErrors.setsCurrPass -->
			</div>
		</div>
		<div class="form-group" data-ng-class="{'has-error': passwordErrors.setsNewPass}">
			<label for="newPassword" class="col-xs-3 control-label">New Password</label>
			<div class="col-xs-6">
				<input type="password" class="form-control ng-pristine ng-untouched ng-valid" id="newPassword" placeholder="" data-ng-model="newPassword">
			</div>
			<div class="col-xs-3 form-error">
				<!-- ngRepeat: err in passwordErrors.setsNewPass -->
			</div>
		</div>
		<div class="form-group" data-ng-class="{'has-error': passwordErrors.setsConfirmedNewPass}">
			<label for="confirmedNewPassword" class="col-xs-3 control-label">Re-enter New</label>
			<div class="col-xs-6">
				<input type="password" class="form-control ng-pristine ng-untouched ng-valid" id="confirmedNewPassword" placeholder="" data-ng-model="confirmedNewPassword">
			</div>
			<div class="col-xs-3 form-error">
				<!-- ngRepeat: err in passwordErrors.setsConfirmedNewPass -->
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-offset-3 col-xs-9">
				<button type="submit" class="btn btn-primary" data-ng-click="resetPassword()" data-ng-disabled="saveDisabled">Save</button>
			</div>
		</div>
	</form>
</div>

</div>
