
    <footer>
    <div class="container footer">
      <div class="row">
        <div class="col-md-8 ">
         <div class="row">
            <div class="col-sm-4 col-md-3 item">
              <div class="title">Site Map</div>
              <ul>
                <li><a href="#/">Home</a></li>
                <li><a href="#/team">Team</a></li>
                 <li><a href="#/about">About</a></li>
                <li><a href="#/login">Technologies</a> </li>
                <li><a href="">Learnings</a></li>
                <li><a href="#/all">Enterprise Training</a></li>
              </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
              <div class="title">Technologies</div>
              <ul>
                <li><a href="/technologies">All</a></li>

                  <li><a href="">AngularJS</a></li>
                  <li><a href="">Git</a></li>
                  <li><a href="">javascript </a></li>
                  <li><a href="">Grunt</a></li>
                  <li><a href="">JavaScript</a></li>
                  <li><a href="">Node.js</a></li>
                  <li><a href="">Java</a></li>
                  <li><a href="">Hadoop Big data</a></li>
                  <li><a href="">Android Development</a></li>
              </ul>
            </div>
            <div class="col-sm-4 col-md-5 item">
              <div class="title">Learning series</div>
              <ul>
                <li><a href="">All</a></li>
                  <li><a href="">AngularJS Authentication </a></li>
                  <li><a href="">Learn Protractor Testing for AngularJS</a></li>
                  <li><a href="">Learn HTML5 Graphics and Animation</a></li>
                  <li><a href="">React Fundamentals</a></li>
                  <li><a href="">Node fundamentals</a></li>
                  <li><a href="">AngularJS Data Modeling</a></li>

              </ul>
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- footer-part-left -->

        <div class="col-md-4 ">
          <div class="title">Search Lessons</div>

          <div class="search-field-holder collapsed">
            <form id="search-form-footer" autocomplete="off">
              <input type="text" id="st-search-input-footer" class="form-control input-search" autocomplete="off">
              <button type="submit" class="btn-submit fa fa-search"></button>
            </form>

          </div>
          <!-- search-field-holder -->


          <!-- terms-conditions-holder -->

          <div class="social-holder">
            <a href="https://twitter.com/tkssharma" class="icon-twitter"><i style="    margin-top: 10px;" class="fa fa-google-plus"></i></a>
            <a href="https://www.facebook.com/tarun.sharma.msp.engg" class="icon-facebook"><i  style="    margin-top: 10px;" class="fa fa-twitter"></i></a>
            <a href="" rel="publisher" class="icon-google-plus"><i style="    margin-top: 10px;"  class="fa fa-facebook-square"></i></a>
          </div>
          <!-- social-holder -->
        </div>
        <!-- footer-part-right -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </footer>
