<div data-responsiveness-enabler="">
	<div class="super-header-wrapper section-inverse section-slim">
		<h1 class="h1-text">gennext Free Online Courses</h1>
		<!-- Banner background -->

		<div class="super-header image-homepage-banner ng-scope">
			<div class="container">
				<div class="super-header-content row">
					<div class="col-xs-12 text-inverse">
						<div class="row row-gap-huge"></div>
						<div class="row row-gap-huge"></div>
						<section class="sliding-text-wrapper">
							<h1 class="stationary-text-top">Become a</h1>
							<div class="sliding-text">

								<h2 style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
									Full Stack Developer</h2>

							</div>
							<div class="row row-gap-medium">
								<div class="stationary-text-bottom">Online Training
									platform</div>
								<div class="row row-gap-huge"></div>
								<a href="#/login" ><span
									class="btn btn-primary btn-lg btn-min-width-sm">Start
										Learning</span></a>
										<a href="#/register"><span
									class="btn btn-primary btn-lg btn-min-width-sm">Create Account</span></a>
								<div class="row row-gap-huge"></div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="section section-standout section-slim ng-scope">
		<div class="container">
			<div class="row row-gap-small">
				<div class="col-sm-12 text-center">
					<h2>Codefun Programs</h2>
				</div>
			</div>
			<div class="row row-gap-large ng-hide" data-ng-show="loading"
				style="">
				<div class="text-center">
					<img class=""
						src="//lh5.ggpht.com/b3OandPWsUWAnRVS5d8JS8OL0nu8dU2d3NceS7p1yKhPl9KD4EhqeylPm7yFbft5wmsA2VCAZ-8wAkmFduXJ=s0#w=90&amp;h=30"
						alt="loading dots">
				</div>
			</div>
		</div>
		<!-- display for laptops and desktops  -->
		<div
			class="container no-margin-horizontal visible-sm visible-xs visible-md visible-lg"
			data-ng-show="!loading" style="">
			<!-- ngRepeat: degree in gennexts -->
			<div class="ng-scope" style="">
				<gennext-tile nd="degree" class="ng-isolate-scope">
				<div
					class="theme-nd801 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
					<div class="section section-standout section-slim flip-container">
						<a href="/course/nd801" class="flipper no-underline">
							<div class="front text-inverse theme-background-color ng-binding">
								<img class="icon-huge center-block" ng-src="images/angular.png"
									alt="Android Developer"
									title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming"
									src="images/angular.png">
								<h3 class="text-inverse nd-block-title ng-binding">Angular developer</h3>
								<hr class="nd-block-hr">
								Become an Angular developer
							</div>
							<div class="back theme-border-color ng-binding">
								AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how.
								<div class="nd-block-back-bottom">
									<div class="text-center">
										<span class="btn btn-primary">Learn more</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				</gennext-tile>
			</div>
			<!-- end ngRepeat: degree in gennexts -->
			<div class="ng-scope">
				<gennext-tile nd="degree" class="ng-isolate-scope">
				<div
					class="theme-nd009 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
					<div class="section section-standout section-slim flip-container">
						<a href="/course/nd009" class="flipper no-underline">
							<div class="front text-inverse theme-background-color ng-binding">
								<img class="icon-huge center-block" ng-src="images/react.png"
									alt="Machine Learning Engineer"
									title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming"
									src="images/react.png">
								<h3 class="text-inverse nd-block-title ng-binding">React JS Developer</h3>
								<hr class="nd-block-hr">
								React JS
							</div>
							<div class="back theme-border-color ng-binding">
								React abstracts away the DOM from you, giving a simpler programming model and better performance. React can also render on the server using Node, and it can power native apps using React Native.
								<div class="nd-block-back-bottom">
									<div class="text-center">
										<span class="btn btn-primary">Learn more</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				</gennext-tile>
			</div>
			<!-- end ngRepeat: degree in gennexts -->
			<div class="ng-scope">
				<gennext-tile nd="degree" class="ng-isolate-scope">
				<div
					class="theme-nd007 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
					<div class="section section-standout section-slim flip-container">
						<a href="/course/nd007" class="flipper no-underline">
							<div class="front text-inverse theme-background-color ng-binding">
								<img class="icon-huge center-block" ng-src="images/ionic.png"
									alt="Tech Entrepreneur"
									title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming"
									src="images/ionic.png">
								<h3 class="text-inverse nd-block-title ng-binding">Ionic Developer</h3>
								<hr class="nd-block-hr">
								Become Ionic Developer
							</div>
							<div class="back theme-border-color ng-binding">
								Create mobile apps with the web technologies you love.
Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS CSS components, gestures, and tools for building highly interactive apps. Built with Sass and optimized for AngularJS.
								<div class="nd-block-back-bottom">
									<div class="text-center">
										<span class="btn btn-primary">Learn more</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				</gennext-tile>
			</div>
			<!-- end ngRepeat: degree in gennexts -->
			<div class="ng-scope">
				<gennext-tile nd="degree" class="ng-isolate-scope">
				<div
					class="theme-nd011 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
					<div class="section section-standout section-slim flip-container">
						<a href="/course/nd011" class="flipper no-underline">
							<div class="front text-inverse theme-background-color ng-binding">
								<img class="icon-huge center-block" ng-src="images/django.png"
									alt="Mobile Game Developer"
									title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming"
									src="images/django.png">
								<h3 class="text-inverse nd-block-title ng-binding">Web Django developer</h3>
								<hr class="nd-block-hr">
								Django developer
							</div>
							<div class="back theme-border-color ng-binding">
								Learn Django to develop applications
								<div class="nd-block-back-bottom">
									<div class="text-center">
										<span class="btn btn-primary">Learn more</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				</gennext-tile>
			</div>
			<!-- end ngRepeat: degree in gennexts -->
			<div class="ng-scope">
				<gennext-tile nd="degree" class="ng-isolate-scope">
				<div
					class="theme-nd004 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
					<div class="section section-standout section-slim flip-container">
						<a href="/course/nd004" class="flipper no-underline">
							<div class="front text-inverse theme-background-color ng-binding">
								<img class="icon-huge center-block"
									ng-src="images/bootstrap.png" alt="Full Stack Web Developer"
									title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming"
									src="images/bootstrap.png">
								<h3 class="text-inverse nd-block-title ng-binding">Full
									Stack Web Developer</h3>
								<hr class="nd-block-hr">
								Learn responsive design
							</div>
							<div class="back theme-border-color ng-binding">
								Learn how to create responsive design using bootstrap dramework
								<div class="nd-block-back-bottom">
									<div class="text-center">
										<span class="btn btn-primary">Learn more</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				</gennext-tile>
			</div>
			<!-- end ngRepeat: degree in gennexts -->
			<div class="ng-scope">
				<gennext-tile nd="degree" class="ng-isolate-scope">
				<div
					class="theme-nd003 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
					<div class="section section-standout section-slim flip-container">
						<a href="/course/nd003" class="flipper no-underline">
							<div class="front text-inverse theme-background-color ng-binding">
								<img class="icon-huge center-block" ng-src="images/gulp.png"
									alt="iOS Developer"
									title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming"
									src="images/gulp.png">
								<h3 class="text-inverse nd-block-title ng-binding">Realtime building web app</h3>
								<hr class="nd-block-hr">
								Learn how to Build Gulp
							</div>
							<div class="back theme-border-color ng-binding">
								Building the application using Gulp Build tool
								<div class="nd-block-back-bottom">
									<div class="text-center">
										<span class="btn btn-primary">Learn more</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				</gennext-tile>
			</div>
			<!-- end ngRepeat: degree in gennexts -->
			<div class="ng-scope">
				<gennext-tile nd="degree" class="ng-isolate-scope">
				<div
					class="theme-nd002 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
					<div class="section section-standout section-slim flip-container">
						<a href="/course/nd002" class="flipper no-underline">
							<div class="front text-inverse theme-background-color ng-binding">
								<img class="icon-huge center-block" ng-src="images/grunt.png"
									alt="Data Analyst"
									title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming"
									src="images/grunt.png">
								<h3 class="text-inverse nd-block-title ng-binding">Yo man geneartor</h3>
								<hr class="nd-block-hr">
								Create app quickly
							</div>
							<div class="back theme-border-color ng-binding">
								Create application quikly using Yo man generator
								<div class="nd-block-back-bottom">
									<div class="text-center">
										<span class="btn btn-primary">Learn more</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				</gennext-tile>
			</div>
			<!-- end ngRepeat: degree in gennexts -->
			<div class="ng-scope">
				<gennext-tile nd="degree" class="ng-isolate-scope">
				<div
					class="theme-nd001 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
					<div class="section section-standout section-slim flip-container">
						<a href="/course/nd001" class="flipper no-underline">
							<div class="front text-inverse theme-background-color ng-binding">
								<img class="icon-huge center-block" ng-src="images/backbone.png"
									alt="Front-End Web Developer"
									title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming"
									src="images/backbone.png">
								<h3 class="text-inverse nd-block-title ng-binding">
									Web Developer using Backbone js</h3>
								<hr class="nd-block-hr">
								Application development
							</div>
							<div class="back theme-border-color ng-binding">
								Using backbone js for application development
								<div class="nd-block-back-bottom">
									<div class="text-center">
										<span class="btn btn-primary">Learn more</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				</gennext-tile>
			</div>
			<!-- end ngRepeat: degree in gennexts -->
			<div class="ng-scope">
				<gennext-tile nd="degree" class="ng-isolate-scope">
				<div
					class="theme-nd000 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
					<div class="section section-standout section-slim flip-container">
						<a href="/course/nd000" class="flipper no-underline">
							<div class="front text-inverse theme-background-color ng-binding">
								<img class="icon-huge center-block" ng-src="images/cordova.png"
									alt="Intro to Programming"
									title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming"
									src="images/cordova.png">
								<h3 class="text-inverse nd-block-title ng-binding">Cordova phonegap</h3>
								<hr class="nd-block-hr">
								Learn to Code
							</div>
							<div class="back theme-border-color ng-binding">
								Creating Mobile applications using Cordove Phonegap
								<div class="nd-block-back-bottom">
									<div class="text-center">
										<span class="btn btn-primary">Learn more</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>

				<!--###########################################################  -->
				<gennext-tile nd="degree" class="ng-isolate-scope">
				<div
					class="theme-nd801 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
					<div class="section section-standout section-slim flip-container">
						<a href="/course/nd801" class="flipper no-underline">
							<div class="front text-inverse theme-background-color ng-binding">
								<img class="icon-huge center-block" ng-src="images/git.png"
									alt="Android Developer"
									title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming"
									src="images/git.png">
								<h3 class="text-inverse nd-block-title ng-binding">Android
									Developer</h3>
								<hr class="nd-block-hr">
								Become an Android Developer
							</div>
							<div class="back theme-border-color ng-binding">
								For intermediate programmers pursuing Android mastery, this
								program teaches the tools, principles, and patterns that
								underlie all Android development.
								<div class="nd-block-back-bottom">
									<div class="text-center">
										<span class="btn btn-primary">Learn more</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				</gennext-tile>
			</div>
			<!-- end ngRepeat: degree in gennexts -->
			<div class="ng-scope">
				<gennext-tile nd="degree" class="ng-isolate-scope">
				<div
					class="theme-nd010 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
					<div class="section section-standout section-slim flip-container">
						<a href="/course/nd010" class="flipper no-underline">
							<div class="front text-inverse theme-background-color ng-binding">
								<img class="icon-huge center-block"
									ng-src="images/javascript.png" alt="Machine Learning Engineer"
									title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming"
									src="images/javascript.png">
								<h3 class="text-inverse nd-block-title ng-binding">Machine
									Learning Engineer</h3>
								<hr class="nd-block-hr">
								Make Predictive Models
							</div>
							<div class="back theme-border-color ng-binding">
								Become a machine learning engineer and apply predictive models
								to massive data sets in fields like education, finance,
								healthcare or robotics.
								<div class="nd-block-back-bottom">
									<div class="text-center">
										<span class="btn btn-primary">Learn more</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				</gennext-tile>
			</div>
			<!-- end ngRepeat: degree in gennexts -->
			<div class="ng-scope">
				<gennext-tile nd="degree" class="ng-isolate-scope">
				<div
					class="theme-nd007 col-sm-6 col-md-3 col-xs-12 col-lg-4 nd-tile-container">
					<div class="section section-standout section-slim flip-container">
						<a href="/course/nd007" class="flipper no-underline">
							<div class="front text-inverse theme-background-color ng-binding">
								<img class="icon-huge center-block" ng-src="images/html5.png"
									alt="Tech Entrepreneur"
									title="Android Developer, Tech Enterpreneur, Beginning iOS Development, Full Stack Web Developer,iOS Developer, Data Analyst, Front End Developer, Introduction to Programming"
									src="images/html5.png">
								<h3 class="text-inverse nd-block-title ng-binding">Tech
									Entrepreneur</h3>
								<hr class="nd-block-hr">
								Build a Business Around Your App
							</div>
							<div class="back theme-border-color ng-binding">
								From ideation to marketing to monetization, this program teaches
								you how to transform ideas into market-ready products, and build
								sustainable businesses around them.
								<div class="nd-block-back-bottom">
									<div class="text-center">
										<span class="btn btn-primary">Learn more</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
				</gennext-tile-handheld>
			</div>
			<!-- end ngRepeat: degree in gennexts -->
		</div>
		<div class="row row-gap-huge no-margin-horizontal"></div>
		<div class="row text-center no-margin-horizontal">
			<a href="//gennext.com/success"><span
				class="btn btn-primary btn-lg btn-min-width-sm">Student
					Success Stories</span></a>
		</div>
		<div class="row row-gap-huge no-margin-horizontal"></div>
	</div>

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2 class="h-slim">The CodeHS Program Formula</h2>
					<p class="text-quote-size">
						<small> Master new skills through a series of online
							courses and projects </small>
					</p>
				</div>
			</div>
			<div class="row row-gap-small"></div>
			<div class="row text-center">
				<div class="col-sm-4">
					<img class="icon-huge1" alt="Silicon Valley cityscape"
						title="Silicon Valley cityscape" src="images/watch.png"> <br>
					<h3>One click start</h3>
					<p class="text-large">Start Learn on one click</p>
				</div>
				<div class="col-sm-4">
					<img class="icon-huge1" alt="employee badge" title="employee badge"
						src="images/apple.png"> <br>
					<h3>Career-focused</h3>
					<p class="text-large">Learn skills for specific job titles</p>
				</div>
				<div class="col-sm-4">
					<img class="icon-huge1"
						alt="mountain with challenging pathway to top"
						title="mountain with challenging pathway to top"
						src="images/pics.png"> <br>
					<h3>Rigorous</h3>
					<p class="text-large">Break a sweat solving real challenges</p>
				</div>
			</div>
			<div class="row row-gap-medium">
				<div class="col-xs-12 text-center">
					<p class="text-large">
						<a class="btn btn-primary" href="/gennext"><strong>How
								the CodeHS program works</strong></a>
					</p>
				</div>
			</div>
		</div>
	</div>


	<div class="full-page vintage-bg">
	<div class="container">
		<h2 class="who-big-title">
			<span class="font-light">Code with a goal.</span><br>What's yours?
		</h2>
		<div class="col-sm-6 col-xs-12">
			<div class="who-box">
				<div class="row">
					<div class="col-md-12">
						<h2 class="uppercase mb-10 who-title uppercase white">
							<span class="font-light" style="color: #ff8f32;">Prototype your</span> idea
						</h2>
						<h5 class="who-text-developer white">
							You have a brilliant idea but are having difficulties finding that perfect technical co-founder? We will teach you how to <strong>create a prototype</strong> to validate your idea as fast as possible.
						</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xs-12">
			<div class="who-box">
				<div class="row">
					<div class="col-md-12">
						<h2 class="uppercase mb-10 who-title uppercase white">
							<span class="font-light" style="color: #ff8f32;">Become a software</span> developer
						</h2>
						<h5 class="who-text-developer white">
							Developers are the new stars in the tech industry with some getting paid more then $120k a year. Through us, <strong>boost up your github portfolio and land a dream job</strong>.
						</h5>
					</div>
				</div>
			</div>
		</div>
			<div class="col-sm-6 col-xs-12">
			<div class="who-box">
				<div class="row">
					<div class="col-md-12">
						<h2 class="uppercase mb-10 who-title uppercase white">
							<span class="font-light" style="color: #ff8f32;">Become a software</span> developer
						</h2>
						<h5 class="who-text-developer white">
							Developers are the new stars in the tech industry with some getting paid more then $120k a year. Through us, <strong>boost up your github portfolio and land a dream job</strong>.
						</h5>
					</div>
				</div>
			</div>
		</div>
			<div class="col-sm-6 col-xs-12">
			<div class="who-box">
				<div class="row">
					<div class="col-md-12">
						<h2 class="uppercase mb-10 who-title uppercase white">
							<span class="font-light" style="color: #ff8f32;">Become a software</span> developer
						</h2>
						<h5 class="who-text-developer white">
							Developers are the new stars in the tech industry with some getting paid more then $120k a year. Through us, <strong>boost up your github portfolio and land a dream job</strong>.
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
