<div class="container section ng-scope">
	<div class="row">
		<div class="col-xs-12">
			<div class="page-header">
				<h1>My Account</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<ul class="nav nav-pills nav-stacked nav-stacked-extended">

				<li ui-sref="myaccount.contact" ui-sref-active="active"><a
					ui-sref="myaccount.contact" href="">Contact Info</a></li>

				<li ui-sref="myaccount.password" ui-sref-active="active"><a
					ui-sref="myaccount.password" href="">Password</a></li>

				<li ui-sref="myaccount.course" ui-sref-active="active"><a
					ui-sref="myaccount.course" href="">My Courses</a></li>

				<li ui-sref="myaccount.employer" ui-sref-active="active"><a
					ui-sref="myaccount.employer" href="">Employer Info</a></li>

				<li ui-sref="myaccount.billing" ui-sref-active="active"><a
					ui-sref="myaccount.billing" href="">Billing &amp; Subscriptions</a>
				</li>
				<li ui-sref="myaccount.linkedacc" ui-sref-active="active"><a
					ui-sref="myaccount.linkedacc" href="">Linked Accounts</a></li>

				<li ui-sref="myaccount.settings" ui-sref-active="active"
					class="toc-item"><a ui-sref="myaccount.settings"
					target="_self">Classroom Settings</a></li>
			</ul>
		</div>
		<div data-ui-view></div>

	</div>
	<div class="row row-gap-huge"></div>
</div>
